@charset "utf-8";

/*
===============================================================================================
1.	버    전 : divpop.css
2.	작 성 자 : Ryu
3.	참    고 : commone.css
===============================================================================================
*/
body {overflow:visible;}
body.actPop {overflow:hidden;}

/* modal */
.modal-dialog {margin:20% auto;width:400px;}

/* divPopup */
.divPopupBg {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.5;z-index:50;}
.divPopupBg2 {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.5;z-index:300;}

.divPopupBox {display:none;position:fixed;width:90%;top:50%;left:50%;background:#fff;z-index:200}
	.divPopWrap {position:relative;width:100%;}
	.divPopWrap2 {position:relative;padding:20px 5%;width:100%;}
		.closeIcon {position:absolute;top:20px;right:20px;width:24px;cursor:pointer;z-index:10;}
		.closeIcon2 {position:absolute;top:20px;right:20px;width:18px;cursor:pointer;z-index:10;}
		.todayCloseText {position:absolute;top:32px;right:55px;font-family:'dotum';font-size:12px;color:#000;cursor:pointer;z-index:10;}
		.dpTitle {margin-bottom:10px;padding-bottom:10px;font-weight:500;font-size:18px;color:#333;border-bottom:2px solid #ddd;}
		.dpCon {}
			.dpCon .pageBtnBox .btnS1 {padding-right:5px;padding-left:5px;width:100px;}
			.dpCon .grayBgBox {padding:20px 30px;background:#f5f5f5;}
				.dpCon h5 {padding-top:10px 0 0 0;width:100%;font-weight:normal;font-size:18px;color:#555;text-align:center;}
			.dpCon .pageBtnBox {float:none;}
			.dpCon .dotWLine {margin-top:20px;padding-top:20px;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
	.todayClosePopWrap {position:absolute;bottom:10px;left:20px;}
		.todayClosePopWrap label {font-family:'dotum';font-size:12px;}

/* mainPopup */
#mainPopupBox {margin-top:-300px;margin-left:-400px;}

/* snsSharePopup */
#snsSharePopBox {width:450px;}
	#snsSharePopWrap .dpCon {padding:30px 20px;text-align:center;background:#f5f5f5;}
		#snsSharePopWrap .dpCon li {width:100%;}
		#snsSharePopWrap .dpCon li:first-child {margin-bottom:20px;}
		#snsSharePopWrap .dpCon li a {display:inline-block;padding-left:50px;width:180px;height:40px;line-height:40px;font-size:14px;text-align:left;}
		#snsSharePopWrap .snsShare_f {color:#4067b1;background:url(../images/common/icon_sns_facebook.png) no-repeat;}
		#snsSharePopWrap .snsShare_t {color:#5fa9dd;background:url(../images/common/icon_sns_twiter.png) no-repeat;}

/* snsProudPopup */
#snsProudPopBox {width:450px;}
	#snsProudPopWrap .dpCon {text-align:center;}
		.dpTagInfoBox {float:left;padding:10px 0 20px 0;width:100%;}
			.dpTagInfoBox .gridL {float:left;width:28%;}
				.dpTagImg {float:left;width:100%;height:80px;}
				.dpTagRating1 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_1.png) no-repeat;}
				.dpTagRating2 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_2.png) no-repeat;}
				.dpTagRating3 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_3.png) no-repeat;}
				.dpTagRating4 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_4.png) no-repeat;}
			.dpTagInfoBox .gridR {float:left;width:72%;text-align:left;}
				.dpTagTitle {float:left;margin-bottom:10px;width:100%;font-weight:bold;font-size:18px;color:#333;}
					.dpTagRating1 .dpTagTitle span {;color:#58b4c3;}
					.dpTagRating2 .dpTagTitle span {;color:#c8a240;}
					.dpTagRating3 .dpTagTitle span {;color:#a3aeb7;}
					.dpTagRating4 .dpTagTitle span {;color:#d9744c;}
				.dpGoodsInfo {float:left;margin-bottom:10px;width:100%;font-size:1.2em;font-family:"dotum";color:#333;}
					.dpGoodsInfo span {font-weight:bold;}
				.dpTagPrice {float:left;padding-top:10px;width:100%;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
					.dpTagPrice li {float:left;height:35px;line-height:35px;}
					.dptp1 {font-weight:bold;font-size:2em;color:#666;}
					.dptp2 {margin:0 10px;}
					.dptp3 {font-weight:bold;font-size:2.4em;color:#c82358;}
		#snsProudPopWrap .dpCon .grayBgBox {clear:both;}
			#snsProudPopWrap .dpCon .grayBgBox li {width:100%;}
			#snsProudPopWrap .dpCon .grayBgBox li:first-child {margin-bottom:10px;}
			#snsProudPopWrap .dpCon .grayBgBox li a {display:inline-block;padding-left:50px;width:180px;height:40px;line-height:40px;font-size:14px;text-align:left;}
			#snsProudPopWrap .snsProud_f {color:#4067b1;background:url(../images/common/icon_sns_facebook.png) no-repeat;}
			#snsProudPopWrap .snsProud_t {color:#5fa9dd;background:url(../images/common/icon_sns_twiter.png) no-repeat;}

/* buyFixPopup */
#buyFixPopBox {width:450px;}
	#buyFixPopWrap .dpGoodsTitle {width:100%;font:normal 12px "dotum";}

/* buyFixAcceptPopup */
#buyFixAcceptPopBox {width:450px;}

/* orderCancelPopup */
#orderCancelPopBox {width:450px;}
	#orderCancelPopWrap .orderCancelCauseSlt {margin-top:20px;width:200px;}
	#orderCancelPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}
	#orderCancelPopWrap .gridL {float:left;width:48%;}
	#orderCancelPopWrap .gridR {float:right;width:48%;}
		.returnBankSlt {width:100%;}
		#dpConAccount {width:100%;font:normal 12px "dotum";}

/* orderCancelAcceptPopup */
#orderCancelAcceptPopBox {width:450px;}
	#orderCancelPopWrap .dpConOrderCancelCause {width:100%;font:bold 14px "dotum";text-align:center;}
	
/* returnApplyPopup */
#returnApplyPopBox {width:860px;}
	#returnApplyPopWrap .returnCauseSlt {width:260px;}
	#returnApplyPopWrap .regText {margin-top:10px;width:100%;}
		#returnApplyPopWrap .regText textarea {width:100%;}
	#returnApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}

/* returnAcceptPopup */
#returnAcceptPopBox {width:450px;}
	#returnAcceptPopWrap .dpGoodsTitle {width:100%;font:normal 12px "dotum";}

/* changeApplyPopup */
#changeApplyPopBox {width:860px;}
	#changeApplyPopWrap .regText {margin-top:10px;width:100%;}
		#changeApplyPopWrap .regText textarea {width:100%;}
		#changeApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}
		#changeApplyPopWrap .brownDotLi li {background-position:0 13px;}

/* changeAcceptPopup */
#changeAcceptPopBox {width:450px;}
	#changeAcceptPopWrap .dpConTelNum {width:100%;font:bold 14px "dotum";text-align:center;}

/* transferApplyPopup */
#transferApplyPopBox {width:860px;}
	#transferApplyPopWrap {}
		#transferApplyPopWrap .pageBtnBox {clear:both;}

/* transferAcceptAcceptPopup */
#transferAcceptPopBox {width:860px;}
	#transferAcceptPopWrap {}
		#transferAcceptPopWrap .grayBgBox {float:left;margin:20px 0;padding:40px 0;width:100%;}
			#transferAcceptPopWrap .grayBgBox h5 {line-height:28px;}
		#transferAcceptPopWrap .pageBtnBox {clear:both;}

/* saveCancelRaesonPopup */
#saveCancelRaesonPopBox {width:450px;}
	#saveCancelRaesonPopWrap {}
		#saveCancelRaesonPopWrap .dpGoodsTitle {width:100%;font:normal 12px "dotum";}
		#saveCancelRaesonPopWrap .viewTable {float:none;}

/* payCompletePopBox */
#payCompletePopBox_card {width:450px;}
#payCompletePopBox_realtime {width:450px;}
#payCompletePopBox_virtual {width:450px;}
#payCompletePopBox_tagmoney {width:450px;}
#payCompletePopBox_error {width:450px;}
	#payCompletePopWrap .grayBgBox {clear:both;padding:40px 20px;margin-bottom:20px;}
		#payCompletePopWrap .grayBgBox h5 {line-height:28px;}
	#payCompletePopWrap .viewTable th,
	#payCompletePopWrap .viewTable td {padding:10px 20px;}
	#payCompletePopWrap .accountSmsBox {float:left;width:100%;margin:20px 0 10px 0;padding:10px;}
	#payCompletePopWrap .inputTelBox {float:left;margin-bottom:20px;}
	#payCompletePopWrap .pageBtnBox {clear:both;padding-top:20px;}

/* smsSendCompletePopBox */
#smsSendCompletePopBox {width:450px;}
	#smsSendCompletePopWrap .grayBgBox {clear:both;padding:40px 20px;margin-bottom:20px;}
		#smsSendCompletePopWrap .grayBgBox h5 {line-height:28px;}
	#smsSendCompletePopWrap .viewTable th,
	#smsSendCompletePopWrap .viewTable td {padding:10px 20px;}
	#smsSendCompletePopWrap .pageBtnBox {clear:both;padding-top:20px;}

/* encoreApplyPopup */
#encoreApplyPopBox,
#encoreCompletePopBox {width:450px;}
	#encorePopWrap {}
		#encorePopWrap .dpGoodsName {float:left;padding:10px 20px;width:100%;font:normal 12px "dotum";border:1px solid #333;}
		#encorePopWrap .brownDotLi {float:left;width:100%;}
			#encorePopWrap .brownDotLi li {font-family:"Noto Sans KR";font-size:1.3em;}
		#encorePopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}
		#encorePopWrap .checkBoxWrap {float:left;width:100%;font:normal 12px "dotum";}
		#encorePopWrap .inputTelBox {float:left;margin-bottom:20px;}
		#encorePopWrap .pageBtnBox {clear:both;}

/* smsInformApplyPopup */
#smsInformApplyPopBox,
#smsInformCompletePopBox {width:450px;}
	#smsInformPopWrap {}
		#smsInformPopWrap .dpGoodsName {float:left;padding:10px 20px;width:100%;font:normal 12px "dotum";border:1px solid #333;}
		#smsInformPopWrap .brownDotLi {float:left;width:100%;}
			#smsInformPopWrap .brownDotLi li {font-family:"Noto Sans KR";font-size:1.3em;}
		#smsInformPopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}
		#smsInformPopWrap .checkBoxWrap {float:left;width:100%;font:normal 12px "dotum";}
		#smsInformPopWrap .inputTelBox {float:left;margin-bottom:20px;}
		#smsInformPopWrap .pageBtnBox {clear:both;}

/* smsInformCancelPopup */
#smsInformCancelPopBox,
#smsInformCancelCompletePopBox {width:450px;}
	#smsInformCancelPopBox .dpGoodsTitle,
	#smsInformCancelCompletePopBox .dpGoodsTitle {padding-top:20px;width:100%;font:normal 12px "dotum";}

/* transferRegPopup */
#transferRegPopBox {width:860px;}
	#transferRegPopWrap {}
		.dpTransferRegInfoBox {float:left;margin-top:20px;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}
		.dpTransferRegInfoBox th {font-weight:bold;}
		.dpTransferRegInfoBox li {float:left;margin-left:10px;}
		.dpTransferRegInfoBox li:first-child {margin-left:0;}
		#transferRegPopWrap .brownDotLi {float:left;margin-bottom:20px;width:100%;line-height:18px;}
		#transferRegPopWrap .pageBtnBox {clear:both;}

/* transferRegCompletePopup */
#transferRegCompletePopBox {width:450px;}
	#transferRegCompletePopWrap {}
		#transferRegCompletePopWrap .grayBgBox {padding:30px 20px;}

/* transferRegCancelPopup */
#transferRegCancelPopBox {width:860px;}
	#transferRegCancelPopWrap {}
		.dpTransferRegInfoBox {float:left;margin-top:20px;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}
		.dpTransferRegInfoBox th {font-weight:bold;}
		.dpTransferRegInfoBox li {float:left;margin-left:10px;}
		.dpTransferRegInfoBox li:first-child {margin-left:0;}
		#transferRegCancelPopWrap .brownDotLi {float:left;margin-bottom:20px;width:100%;line-height:18px;}
		#transferRegCancelPopWrap .pageBtnBox {clear:both;}

/* transferRegCancelCompletePopup */
#transferRegCancelCompletePopBox {width:450px;}
	#transferRegCancelCompletePopWrap {}
		#transferRegCancelCompletePopWrap .grayBgBox {padding:30px 20px;}

/* certiCompletePopup */
#certiCompletePopBox {width:450px;}
	#certiCompletePopWrap .grayBgBox {padding:40px 0;}

/* certiFailPopup */
#certiFailPopBox {width:450px;}
	#certiFailPopWrap .grayBgBox {padding:40px;}
		#certiFailPopWrap .dotLineBottom {margin-bottom:20px;padding-bottom:20px;}
		#certiFailPopWrap .grayBgBox p {font:bold 14px / 30px "dotum";text-align:center;color:#666;}

/* tPointChargeDonePopup */
#tPointChargeDonePopBox {width:450px;}
	#tPointChargeDonePopWrap .grayBgBox {padding:40px;}
	#tPointChargeDonePopWrap .viewTable {margin:20px 0;}

/* tMoneyChargeDonePopup */
#tMoneyChargeDonePopBox {width:450px;}
	#tMoneyChargeDonePopWrap .grayBgBox {padding:40px;}
	#tMoneyChargeDonePopWrap .viewTable {margin:20px 0;}

/* memberLeaveApplyPopup */
#memberLeaveApplyPopBox {width:600px;}
	#memberLeaveApplyPopWrap .grayBgBox {padding:40px;}
	#memberLeaveApplyPopWrap .viewTable {margin:20px 0;}
		#memberLeaveApplyPopWrap .viewTable th {text-align:center;}
		#memberLeaveApplyPopWrap .viewTable td {text-align:center;border-left:1px solid #ddd;}
	#memberLeaveApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}

/* csCenterPopup */
#csCenterPopBox {width:450px;}
	#csCenterPopWrap {}
		#csCenterPopWrap .dpTitle {padding:30px;border:0;background:#d7b252;}
			#csCenterPopWrap .dpTitle h5 {padding:20px 0 20px 110px;font-weight:400;font-size:24px;color:#fff;line-height:36px;background:url(../images/divpop/cs_center_title_bg.png) no-repeat 0 50%;}
		#csCenterPopWrap .dpCon {padding:20px 40px;font-size:16px;color:#555;line-height:24px;letter-spacing:-0.05em;}

/* VIP */
/* vipJoinPayPopup */
#vipJoinPayPopBox {width:450px;}
	#vipJoinPayPopWrap {}
		#vipJoinPayPopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}

/* vipJoinPayCompletePopup */
#vipJoinPayCompletePopBox {width:450px;}
	#vipJoinPayCompletePopWrap {}
		#vipJoinPayCompletePopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}
			#vipJoinPayCompletePopWrap .dpCon h5 {line-height:28px;}

/* vipJoinPayLackPopup */
#vipJoinPayLackPopBox {width:450px;}
	#vipJoinPayLackPopWrap {}
		#vipJoinPayLackPopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}

/* tagOpenMotion */
.italicTitle {font:italic 400 40px / 90px "BMDoHyeon";color:#fff;transform:rotate(-5deg) !important;text-shadow:1px 2px 5px #000;}
	.italicTitle span {font-style:italic;font-size:50px;}
#inputNumBox {margin-top:-306px;margin-left:-510px;width:1020px;height:670px;text-align:center;border:5px solid #000;background:url(../images/divpop/input_num_bg.png) no-repeat 50%;}
	#inputNumBox .closeIcon {width:34px;top:5px;}
	.inpnTitle {position:relative;margin:30px auto;width:515px;z-index:1;}
	.inpnTitleBg {position:absolute;top:20px;left:-80px;width:685px;z-index:-1;}
	.inpnInputBox {float:left;margin-top:20px;margin-left:235px;}
		.inpnInputBox label {float:left;margin-right:20px;font-weight:800;font-size:26px;color:#313562;}
		input[type="text"].tagNumInput {float:left;width:310px;height:70px;font:800 4.8em / 30px "Noto Sans KR";color:#000;text-align:center;border:4px solid #313562;}
		.numResetBtn {position:absolute;top:50%;right:15px;margin-top:-20px;}
			.numResetBtn a {display:inline-block;width:38px;height:38px;background:url(../images/divpop/input_num_reset.png) no-repeat;}
		.numDelBtn {position:absolute;top:50%;right:-85px;margin-top:-42px;width:80px;}
	.inpnKeyBox {clear:both;float:left;margin-top:10px;}
		.inpnNumKey {float:left;margin-left:140px;width:540px;}
			.inpnNumKey li {float:left;margin-top:10px;margin-left:10px;width:100px;height:100px;}
			.inpnNumKey li:nth-child(5n+1) {margin-left:0;}
				.inpnNumKey li a {display:block;width:100%;height:100%;background:url(../images/divpop/input_number.png) no-repeat;}
				.inpnNumKey li:nth-child(1) a {background-position:0 0;}
				.inpnNumKey li:nth-child(2) a {background-position:-100px 0;}
				.inpnNumKey li:nth-child(3) a {background-position:-200px 0;}
				.inpnNumKey li:nth-child(4) a {background-position:-300px 0;}
				.inpnNumKey li:nth-child(5) a {background-position:-400px 0;}
				.inpnNumKey li:nth-child(6) a {background-position:-500px 0;}
				.inpnNumKey li:nth-child(7) a {background-position:-600px 0;}
				.inpnNumKey li:nth-child(8) a {background-position:-700px 0;}
				.inpnNumKey li:nth-child(9) a {background-position:-800px 0;}
				.inpnNumKey li:nth-child(10) a {background-position:-900px 0;}
				.inpnNumKey li:nth-child(1) a:hover {background-position:0 -100px;}
				.inpnNumKey li:nth-child(2) a:hover {background-position:-100px -100px;}
				.inpnNumKey li:nth-child(3) a:hover {background-position:-200px -100px;}
				.inpnNumKey li:nth-child(4) a:hover {background-position:-300px -100px;}
				.inpnNumKey li:nth-child(5) a:hover {background-position:-400px -100px;}
				.inpnNumKey li:nth-child(6) a:hover {background-position:-500px -100px;}
				.inpnNumKey li:nth-child(7) a:hover {background-position:-600px -100px;}
				.inpnNumKey li:nth-child(8) a:hover {background-position:-700px -100px;}
				.inpnNumKey li:nth-child(9) a:hover {background-position:-800px -100px;}
				.inpnNumKey li:nth-child(10) a:hover {background-position:-900px -100px;}
		.inpnAutoKey {float:left;margin-left:40px;width:215px;height:215px;}
			.inpnAutoKey a {display:block;width:100%;height:100%;background:url(../images/divpop/input_num_auto.png) no-repeat;}
			.inpnAutoKey a:hover {background:url(../images/divpop/input_num_auto_on.png) no-repeat;}
	#inputNumBox .pageBtnBox {padding-top:40px;width:100%;background:url(../images/divpop/input_num_line_dot.png) no-repeat 50% 0;}
		.tagNumSubmit {display:inline-block;width:310px;height:90px;line-height:90px;font-weight:bold;/*font-size:3.6em;*/font-size:3em;color:#fff;background:url(../images/divpop/input_num_submit.png) no-repeat;}
		.tagNumSubmit:hover {color:#fff;background:url(../images/divpop/input_num_submit_on.png) no-repeat;}

/* tagOpenMotion-scroll  */
.tmStepNavBox {position:fixed;top:0;left:0;width:100%;background:rgba(0,0,0,.8);z-index:999;}
.ie8 .tmStepNavBox {background:#000;}
	.tmLogoBox {float:left;width:20%;}
		.tmLogoBox img {margin-top:23px;width:164px;}
	.tmStepUlBox {float:left;width:60%;}
		.tmStepUlBox > li {float:left;width:25%;font-weight:500;font-size:2.4em;text-align:center;color:#999;}
			.tmStepUlBox > li span {display:inline-block;padding:25px 0;}
		.tmStepUlBox > li.actOn {font-weight:bold;color:#fff;}
			.tmStepUlBox > li.actOn span {border-bottom:3px solid #fff;}
	.tmTimeBox {float:left;width:10%;}
		.tmTimer {float:right;width:60px;height:70px;text-align:center;background:url(../images/sub_goods/tm_time_bg.png);}
			.tmTimeT {display:block;margin-top:5px;font-weight:500;font-size:1.2em;color:#000;}
			.tmTimeS {display:block;margin-top:2px;font-weight:600;font-size:2em;color:#fff;}
	.tmCloseBtn {float:right;width:10%;}
		.tmCloseBtn a {float:right;margin-top:20px;width:40px;}
.tmStepBox {position:relative;}
#tmStep1 {background:url(../images/sub_goods/tm_step_bg_1.gif);}
#tmStep2,
#tmStep5 {background:url(../images/sub_goods/tm_step_bg_2.gif);}
#tmStep3 {background:url(../images/sub_goods/tm_step_bg_3.gif);}
#tmStep4 {background:url(../images/sub_goods/tm_step_bg_4.gif);}
	.tmConBox {position:absolute;top:50%;left:0;width:100%;text-align:center;}
		.tmTagTitle {margin:0 auto;padding-left:130px;width:487px;font-size:4.8em;text-align:left;letter-spacing:0.05em;}
		#tmStep4 .tmTagTitle {position:absolute;top:-70px;left:50%;margin-left:-243px;padding-left:0;letter-spacing:0;}
			.tmBonusBox {float:left;padding-left:50px;font-size:30px;font-weight:900;font-family:"Nanum Gothic";text-align:left;background:url(../images/sub_goods/tm_point_bg.png) no-repeat 0 50%;background-size:contain;}
			.tmTagBox_unuse .tmBonusBox {background:url(../images/sub_goods/tm_point_bg_gray.png) no-repeat 0 50%;background-size:contain;}
				.tmBonusBox span {font-weight:400;font-size:24px;font-family:"Noto Sans KR";}
			.tmResultTagBox {float:right;font-size:24px;line-height:40px;font-family:"Noto Sans KR";text-align:right;}
				.tmResultTagBox span {font-weight:900;font-family:"Nanum Gothic";}
		/*.tmTagBox {position:relative;margin:0 auto;width:487px;height:234px;}*/
		.tmTagBox {position:relative;display:inline-block;margin:0 40px;width:487px;height:234px;}
			.tmTagPrcs {position:absolute;top:40px;left:130px;font-weight:900;font-size:3em;font-family:"Nanum Gothic";}
			.tmTagNum {position:absolute;bottom:5px;right:-12px;font-weight:900;font-size:12em;font-family:"Nanum Gothic";text-align:right;letter-spacing:0.1em;}
			#tmStep5 .tmTagNum {bottom:10px;font-size:8.5em;}
			.tmTagRate {position:absolute;top:40px;left:130px;font-weight:600;font-size:3em;}
			.tmTagRatig1 .tmTagRate {color:#58b4c3;}
			.tmTagRatig2 .tmTagRate {color:#c8a240;}
			.tmTagRatig3 .tmTagRate {color:#a3aeb7;}
			.tmTagRatig4 .tmTagRate {color:#d9744c;}
			.tmTagPrice {position:absolute;bottom:25px;right:-5px;font-weight:900;font-size:7.2em;font-family:"Nanum Gothic";text-align:right;letter-spacing:0;}
				.tmTagPrice span {font-size:0.6em;}
		.tmDesc {margin-top:120px;font-weight:500;font-size:3em;}
		#tmStep4 .tmDesc {margin-top:40px;height:35px;}
			.tmDesc_sub {font-size:22px;}
			.tmSign {margin:0 10px 0 10px;}
		#tmStep1 .tmTagTitle, #tmStep1 .tmTagNum, #tmStep1 .tmDesc,
		#tmStep3 .tmTagTitle, #tmStep3 .tmTagNum, #tmStep3 .tmDesc, #tmStep3 .tmTagPrcs,
		#tmStep4 .tmBonusBox, #tmStep4 .tmResultTagBox, #tmStep4 .tmTagPrice, #tmStep4 .tmDesc {color:#fff;}
		#tmStep2 .tmTagTitle, #tmStep2 .tmTagNum, #tmStep2 .tmDesc,
		#tmStep5 .tmTagTitle, #tmStep5 .tmTagNum, #tmStep5 .tmDesc {color:#091b25;}
		
		#tmStep1 .tmTagBox,
		#tmStep3 .tmTagBox {background:url(../images/sub_goods/tm_tag_bg_1.png) no-repeat;background-size:contain;}
		#tmStep2 .tmTagBox,
		#tmStep5 .tmTagBox {background:url(../images/sub_goods/tm_tag_bg_2.png) no-repeat;background-size:contain;}

		#tmStep4 .tmTagRatig1 {background:url(../images/sub_goods/tm_tag_rating_bg_1.png) no-repeat;background-size:contain;}
		#tmStep4 .tmTagRatig2 {background:url(../images/sub_goods/tm_tag_rating_bg_2.png) no-repeat;background-size:contain;}
		#tmStep4 .tmTagRatig3 {background:url(../images/sub_goods/tm_tag_rating_bg_3.png) no-repeat;background-size:contain;}
		#tmStep4 .tmTagRatig4 {background:url(../images/sub_goods/tm_tag_rating_bg_4.png) no-repeat;background-size:contain;}

		.tmTagBox_unuse {position:relative;display:inline-block;width:222px;height:106px;background:url(../images/sub_goods/tm_tag_bg_3.png) no-repeat;background-size:contain;}
		.tmTagBox_unuse_l {margin-left:-222px;}
		.tmTagBox_unuse_r {margin-right:-222px;}
			#tmStep4 .tmTagBox_unuse .tmTagTitle {top:-40px;margin-left:-111px;width:100%;}
				#tmStep4 .tmTagBox_unuse .tmBonusBox {padding-left:30px;font-size:14px;color:#999;}
				#tmStep4 .tmTagBox_unuse .tmResultTagBox {line-height:20px;font-size:14px;color:#666;}
					#tmStep4 .tmTagBox_unuse .tmResultTagBox span {color:#666;}
			#tmStep4 .tmTagBox_unuse .tmTagPrice {right:0;bottom:15px;font-size:3em;color:#666;}

		.tmChoiceWrap {position:relative;margin:0 auto;margin-top:40px;width:487px;}
			.tmChoiceBox {width:100%;}
				.tmChoiceBox li {float:left;width:33.33%;}
				.tmChoiceBox li:first-child a {float:left;}
				.tmChoiceBox li:last-child a {float:right;}
					.tmChoiceBox li a {display:block;margin:0 auto;width:120px;height:120px;line-height:110px;font-weight:600;font-size:3em;color:#fff;border:5px solid #fff;}
					.tmChoiceBox li a:hover {color:#eacb5f;border-color:#eacb5f;}
			.tmChoiceDesc {position:absolute;top:10px;right:-200px;width:175px;line-height:24px;font-size:1.6em;color:#fff;text-align:left;}
		.tmScrollBtn {position:absolute;bottom:30px;left:50%;margin-left:-33px;width:66px;background:url(../images/sub_goods/tm_scroll_bg.png);cursor:pointer;}
.tmWrap #contentsTopBtn2 {}

@media only screen and (min-width:320px) and (max-width:1019px){
	.tmWrap .wWrap {width:100%;}
		.tmStepNavBox {}
			.tmLogoBox {display:none;}
			.tmStepUlBox {width:90%;}
				.tmStepUlBox > li {font-size:1.6em;}
					.tmStepUlBox > li span {padding:10px 0;}
			.tmTimeBox {position:absolute;top:45px;right:10px;}
			.tmCloseBtn {width:10%;}
				.tmCloseBtn a {margin-top:13px;margin-right:13px;width:20px;}
		.tmStepBox {}
			.tmConBox {margin:0 5%;width:90%;}
				.tmTagTitle {padding-left:45px;width:200px;font-size:2.8em;}
				#tmStep4 .tmTagTitle {top:-30px;margin-left:-100px;}
					.tmBonusBox {padding-left:30px;font-size:18px;}
						.tmBonusBox span {display:none;}
					.tmResultTagBox {font-size:18px;line-height:25px;}
						.tmResultTagBox span {font-weight:900;}
				.tmTagBox {margin:0;width:200px;height:96px;}
					.tmTagPrcs {top:15px;left:55px;font-size:1.2em;}
					.tmTagNum {right:0;bottom:5px;font-size:4.8em;}
					#tmStep5 .tmTagNum {right:0;bottom:5px;font-size:4.4em;letter-spacing:0;}
					.tmTagRate {top:20px;left:55px;font-size:1.2em;}
					.tmTagPrice {bottom:15px;right:0px;font-size:3em;}
						.tmTagPrice span {font-size:0.6em;}
				.tmDesc {margin-top:30px;font-size:2em;}
				#tmStep4 .tmDesc {margin-top:10px;}
					.tmDesc_sub {font-size:14px;}
				.tmTagBox_unuse {display:block;margin:0 auto;width:126px;height:60px}
				.tmTagBox_unuse_l {margin-bottom:50px;margin-left:none;}
				.tmTagBox_unuse_r {margin-top:30px;margin-right:none;}
					#tmStep4 .tmTagBox_unuse .tmTagTitle {top:-20px;margin-left:-63px;width:100%;}
						#tmStep4 .tmTagBox_unuse .tmBonusBox {padding-left:20px;font-size:11px;color:#999;}
						#tmStep4 .tmTagBox_unuse .tmResultTagBox {line-height:16px;font-size:11px;color:#666;}
					#tmStep4 .tmTagBox_unuse .tmTagPrice {bottom:10px;font-size:2em;}
				.tmChoiceWrap {margin-top:0px;width:280px;}
					.tmChoiceBox {}
						.tmChoiceBox li {}
							.tmChoiceBox li a {width:85px;height:40px;line-height:35px;font-size:1.6em;border:3px solid #fff;}
					.tmChoiceDesc {top:50px;left:50%;right:0;margin-left:-140px;width:280px;line-height:18px;font-size:1.3em;}
		.tmScrollBtn {background:none;}
		.tmWrap #contentsTopBtn2 {bottom:20px;width:30px;}
}