@charset "utf-8";

/*
===============================================================================================
1.	버    전 : divpop.css
2.	작 성 자 : Ryu
3.	참    고 : commone.css
===============================================================================================
*/
body {overflow:visible;}
body.actPop {overflow:hidden;}

/* modal */
.modal-dialog {margin:20% auto;width:400px;}

/* divPopup */
.divPopupBg {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.5;z-index:50;}
.divPopupBg2 {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.5;z-index:300;}

.divPopupBox {display:none;position:fixed;width:90%;top:50%;left:50%;background:#fff;z-index:200}
	.divPopWrap {position:relative;width:100%;}
	.divPopWrap2 {position:relative;padding:20px 5%;width:100%;}
		.closeIcon {position:absolute;top:20px;right:20px;width:24px;cursor:pointer;z-index:10;}
		.closeIcon2 {position:absolute;top:20px;right:20px;width:18px;cursor:pointer;z-index:10;}
		.todayCloseText {position:absolute;top:32px;right:55px;font-family:'dotum';font-size:12px;color:#000;cursor:pointer;z-index:10;}
		.dpTitle {margin-bottom:10px;padding-bottom:10px;font-weight:500;font-size:18px;color:#333;border-bottom:2px solid #ddd;}
		.dpCon {}
			.dpCon .pageBtnBox .btnS1 {padding-right:5px;padding-left:5px;width:100px;}
			.dpCon .grayBgBox {padding:20px 30px;background:#f5f5f5;}
				.dpCon h5 {padding-top:10px 0 0 0;width:100%;font-weight:normal;font-size:18px;color:#555;text-align:center;}
			.dpCon .pageBtnBox {float:none;}
			.dpCon .dotWLine {margin-top:20px;padding-top:20px;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
	.todayClosePopWrap {position:absolute;bottom:10px;left:20px;}
		.todayClosePopWrap label {font-family:'dotum';font-size:12px;}

/* mainPopup */
#mainPopupBox {margin-top:-300px;margin-left:-400px;}

/* snsSharePopup */
#snsSharePopBox {width:450px;}
	#snsSharePopWrap .dpCon {padding:30px 20px;text-align:center;background:#f5f5f5;}
		#snsSharePopWrap .dpCon li {width:100%;}
		#snsSharePopWrap .dpCon li:first-child {margin-bottom:20px;}
		#snsSharePopWrap .dpCon li a {display:inline-block;padding-left:50px;width:180px;height:40px;line-height:40px;font-size:14px;text-align:left;}
		#snsSharePopWrap .snsShare_f {color:#4067b1;background:url(../images/common/icon_sns_facebook.png) no-repeat;}
		#snsSharePopWrap .snsShare_t {color:#5fa9dd;background:url(../images/common/icon_sns_twiter.png) no-repeat;}

/* snsProudPopup */
#snsProudPopBox {width:450px;}
	#snsProudPopWrap .dpCon {text-align:center;}
		.dpTagInfoBox {float:left;padding:10px 0 20px 0;width:100%;}
			.dpTagInfoBox .gridL {float:left;width:28%;}
				.dpTagImg {float:left;width:100%;height:80px;}
				.dpTagRating1 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_1.png) no-repeat;}
				.dpTagRating2 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_2.png) no-repeat;}
				.dpTagRating3 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_3.png) no-repeat;}
				.dpTagRating4 .dpTagImg {background:url(../images/sub_mytag/mytag_rating_4.png) no-repeat;}
			.dpTagInfoBox .gridR {float:left;width:72%;text-align:left;}
				.dpTagTitle {float:left;margin-bottom:10px;width:100%;font-weight:bold;font-size:18px;color:#333;}
					.dpTagRating1 .dpTagTitle span {;color:#58b4c3;}
					.dpTagRating2 .dpTagTitle span {;color:#c8a240;}
					.dpTagRating3 .dpTagTitle span {;color:#a3aeb7;}
					.dpTagRating4 .dpTagTitle span {;color:#d9744c;}
				.dpGoodsInfo {float:left;margin-bottom:10px;width:100%;font-size:1.2em;font-family:"dotum";color:#333;}
					.dpGoodsInfo span {font-weight:bold;}
				.dpTagPrice {float:left;padding-top:10px;width:100%;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
					.dpTagPrice li {float:left;height:35px;line-height:35px;}
					.dptp1 {font-weight:bold;font-size:2em;color:#666;}
					.dptp2 {margin:0 10px;}
					.dptp3 {font-weight:bold;font-size:2.4em;color:#c82358;}
		#snsProudPopWrap .dpCon .grayBgBox {clear:both;}
			#snsProudPopWrap .dpCon .grayBgBox li {width:100%;}
			#snsProudPopWrap .dpCon .grayBgBox li:first-child {margin-bottom:10px;}
			#snsProudPopWrap .dpCon .grayBgBox li a {display:inline-block;padding-left:50px;width:180px;height:40px;line-height:40px;font-size:14px;text-align:left;}
			#snsProudPopWrap .snsProud_f {color:#4067b1;background:url(../images/common/icon_sns_facebook.png) no-repeat;}
			#snsProudPopWrap .snsProud_t {color:#5fa9dd;background:url(../images/common/icon_sns_twiter.png) no-repeat;}

/* buyFixPopup */
#buyFixPopBox {width:450px;}
	#buyFixPopWrap .dpGoodsTitle {width:100%;font:normal 12px "dotum";}

/* buyFixAcceptPopup */
#buyFixAcceptPopBox {width:450px;}

/* orderCancelPopup */
#orderCancelPopBox {width:450px;}
	#orderCancelPopWrap .orderCancelCauseSlt {margin-top:20px;width:200px;}
	#orderCancelPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}
	#orderCancelPopWrap .gridL {float:left;width:48%;}
	#orderCancelPopWrap .gridR {float:right;width:48%;}
		.returnBankSlt {width:100%;}
		#dpConAccount {width:100%;font:normal 12px "dotum";}

/* orderCancelAcceptPopup */
#orderCancelAcceptPopBox {width:450px;}
	#orderCancelPopWrap .dpConOrderCancelCause {width:100%;font:bold 14px "dotum";text-align:center;}
	
/* returnApplyPopup */
#returnApplyPopBox {width:860px;}
	#returnApplyPopWrap .returnCauseSlt {width:260px;}
	#returnApplyPopWrap .regText {margin-top:10px;width:100%;}
		#returnApplyPopWrap .regText textarea {width:100%;}
	#returnApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}

/* returnAcceptPopup */
#returnAcceptPopBox {width:450px;}
	#returnAcceptPopWrap .dpGoodsTitle {width:100%;font:normal 12px "dotum";}

/* changeApplyPopup */
#changeApplyPopBox {width:860px;}
	#changeApplyPopWrap .regText {margin-top:10px;width:100%;}
		#changeApplyPopWrap .regText textarea {width:100%;}
		#changeApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}
		#changeApplyPopWrap .brownDotLi li {background-position:0 13px;}

/* changeAcceptPopup */
#changeAcceptPopBox {width:450px;}
	#changeAcceptPopWrap .dpConTelNum {width:100%;font:bold 14px "dotum";text-align:center;}

/* transferApplyPopup */
#transferApplyPopBox {width:860px;}
	#transferApplyPopWrap {}
		#transferApplyPopWrap .pageBtnBox {clear:both;}

/* transferAcceptAcceptPopup */
#transferAcceptPopBox {width:860px;}
	#transferAcceptPopWrap {}
		#transferAcceptPopWrap .grayBgBox {float:left;margin:20px 0;padding:40px 0;width:100%;}
			#transferAcceptPopWrap .grayBgBox h5 {line-height:28px;}
		#transferAcceptPopWrap .pageBtnBox {clear:both;}

/* payCompletePopBox */
#payCompletePopBox_card {width:450px;}
#payCompletePopBox_realtime {width:450px;}
#payCompletePopBox_virtual {width:450px;}
#payCompletePopBox_tagmoney {width:450px;}
#payCompletePopBox_error {width:450px;}
	#payCompletePopWrap .grayBgBox {clear:both;padding:40px 20px;margin-bottom:20px;}
		#payCompletePopWrap .grayBgBox h5 {line-height:28px;}
	#payCompletePopWrap .viewTable th,
	#payCompletePopWrap .viewTable td {padding:10px 20px;}
	#payCompletePopWrap .accountSmsBox {float:left;width:100%;margin:20px 0 10px 0;padding:10px;}
	#payCompletePopWrap .inputTelBox {float:left;margin-bottom:20px;}
	#payCompletePopWrap .pageBtnBox {clear:both;padding-top:20px;}

/* smsSendCompletePopBox */
#smsSendCompletePopBox {width:450px;}
	#smsSendCompletePopWrap .grayBgBox {clear:both;padding:40px 20px;margin-bottom:20px;}
		#smsSendCompletePopWrap .grayBgBox h5 {line-height:28px;}
	#smsSendCompletePopWrap .viewTable th,
	#smsSendCompletePopWrap .viewTable td {padding:10px 20px;}
	#smsSendCompletePopWrap .pageBtnBox {clear:both;padding-top:20px;}

/* encoreApplyPopup */
#encoreApplyPopBox,
#encoreCompletePopBox {width:450px;}
	#encorePopWrap {}
		#encorePopWrap .dpGoodsName {float:left;padding:10px 20px;width:100%;font:normal 12px "dotum";border:1px solid #333;}
		#encorePopWrap .brownDotLi {float:left;width:100%;}
			#encorePopWrap .brownDotLi li {font-family:"Noto Sans KR";font-size:1.3em;}
		#encorePopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}
		#encorePopWrap .checkBoxWrap {float:left;width:100%;font:normal 12px "dotum";}
		#encorePopWrap .inputTelBox {float:left;margin-bottom:20px;}
		#encorePopWrap .pageBtnBox {clear:both;}

/* smsInformApplyPopup */
#smsInformApplyPopBox,
#smsInformCompletePopBox {width:450px;}
	#smsInformPopWrap {}
		#smsInformPopWrap .dpGoodsName {float:left;padding:10px 20px;width:100%;font:normal 12px "dotum";border:1px solid #333;}
		#smsInformPopWrap .brownDotLi {float:left;width:100%;}
			#smsInformPopWrap .brownDotLi li {font-family:"Noto Sans KR";font-size:1.3em;}
		#smsInformPopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}
		#smsInformPopWrap .checkBoxWrap {float:left;width:100%;font:normal 12px "dotum";}
		#smsInformPopWrap .inputTelBox {float:left;margin-bottom:20px;}
		#smsInformPopWrap .pageBtnBox {clear:both;}

/* transferRegPopup */
#transferRegPopBox {width:860px;}
	#transferRegPopWrap {}
		.dpTransferRegInfoBox {float:left;margin-top:20px;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;}
		.dpTransferRegInfoBox th {font-weight:bold;}
		.dpTransferRegInfoBox li {float:left;margin-left:10px;}
		.dpTransferRegInfoBox li:first-child {margin-left:0;}
		#transferRegPopWrap .brownDotLi {float:left;margin-bottom:20px;width:100%;line-height:18px;}
		#transferRegPopWrap .pageBtnBox {clear:both;}

/* transferRegCompletePopup */
#transferRegCompletePopBox {width:450px;}
	#transferRegCompletePopWrap {}
		#transferRegCompletePopWrap .grayBgBox {padding:30px 20px;}

/* certiCompletePopup */
#certiCompletePopBox {width:450px;}
	#certiCompletePopWrap .grayBgBox {padding:40px 0;}

/* certiFailPopup */
#certiFailPopBox {width:450px;}
	#certiFailPopWrap .grayBgBox {padding:40px;}
		#certiFailPopWrap .dotLineBottom {margin-bottom:20px;padding-bottom:20px;}
		#certiFailPopWrap .grayBgBox p {font:bold 14px / 30px "dotum";text-align:center;color:#666;}

/* tPointChargeDonePopup */
#tPointChargeDonePopBox {width:450px;}
	#tPointChargeDonePopWrap .grayBgBox {padding:40px;}
	#tPointChargeDonePopWrap .viewTable {margin:20px 0;}

/* tMoneyChargeDonePopup */
#tMoneyChargeDonePopBox {width:450px;}
	#tMoneyChargeDonePopWrap .grayBgBox {padding:40px;}
	#tMoneyChargeDonePopWrap .viewTable {margin:20px 0;}

/* memberLeaveApplyPopup */
#memberLeaveApplyPopBox {width:600px;}
	#memberLeaveApplyPopWrap .grayBgBox {padding:40px;}
	#memberLeaveApplyPopWrap .viewTable {margin:20px 0;}
		#memberLeaveApplyPopWrap .viewTable th {text-align:center;}
		#memberLeaveApplyPopWrap .viewTable td {text-align:center;border-left:1px solid #ddd;}
	#memberLeaveApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}

/* VIP */
/* vipJoinPayPopup */
#vipJoinPayPopBox {width:450px;}
	#vipJoinPayPopWrap {}
		#vipJoinPayPopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}

/* vipJoinPayCompletePopup */
#vipJoinPayCompletePopBox {width:450px;}
	#vipJoinPayCompletePopWrap {}
		#vipJoinPayCompletePopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}
			#vipJoinPayCompletePopWrap .dpCon h5 {line-height:28px;}

/* vipJoinPayLackPopup */
#vipJoinPayLackPopBox {width:450px;}
	#vipJoinPayLackPopWrap {}
		#vipJoinPayLackPopWrap .grayBgBox {float:left;width:100%;padding:40px 0;}


/* tagOpenMotion */
.italicTitle {font:italic 400 40px / 90px "BMDoHyeon";color:#fff;transform:rotate(-5deg) !important;text-shadow:1px 2px 5px #000;}
	.italicTitle span {font-style:italic;font-size:50px;}
#inputNumBox {margin-top:-306px;margin-left:-510px;width:1020px;height:670px;text-align:center;border:5px solid #000;background:url(../images/divpop/input_num_bg.png) no-repeat 50%;}
	#inputNumBox .closeIcon {width:34px;top:5px;}
	.inpnTitle {position:relative;margin:30px auto;width:515px;z-index:1;}
	.inpnTitleBg {position:absolute;top:20px;left:-80px;width:685px;z-index:-1;}
	.inpnInputBox {float:left;margin-top:20px;margin-left:235px;}
		.inpnInputBox label {float:left;margin-right:20px;font-weight:800;font-size:26px;color:#313562;}
		input[type="text"].tagNumInput {float:left;width:310px;height:70px;font:800 4.8em / 30px "Noto Sans KR";color:#000;text-align:center;border:4px solid #313562;}
		.numResetBtn {position:absolute;top:50%;right:15px;margin-top:-20px;}
			.numResetBtn a {display:inline-block;width:38px;height:38px;background:url(../images/divpop/input_num_reset.png) no-repeat;}
		.numDelBtn {position:absolute;top:50%;right:-85px;margin-top:-42px;width:80px;}
	.inpnKeyBox {clear:both;float:left;margin-top:10px;}
		.inpnNumKey {float:left;margin-left:140px;width:540px;}
			.inpnNumKey li {float:left;margin-top:10px;margin-left:10px;width:100px;height:100px;}
			.inpnNumKey li:nth-child(5n+1) {margin-left:0;}
				.inpnNumKey li a {display:block;width:100%;height:100%;background:url(../images/divpop/input_number.png) no-repeat;}
				.inpnNumKey li:nth-child(1) a {background-position:0 0;}
				.inpnNumKey li:nth-child(2) a {background-position:-100px 0;}
				.inpnNumKey li:nth-child(3) a {background-position:-200px 0;}
				.inpnNumKey li:nth-child(4) a {background-position:-300px 0;}
				.inpnNumKey li:nth-child(5) a {background-position:-400px 0;}
				.inpnNumKey li:nth-child(6) a {background-position:-500px 0;}
				.inpnNumKey li:nth-child(7) a {background-position:-600px 0;}
				.inpnNumKey li:nth-child(8) a {background-position:-700px 0;}
				.inpnNumKey li:nth-child(9) a {background-position:-800px 0;}
				.inpnNumKey li:nth-child(10) a {background-position:-900px 0;}
				.inpnNumKey li:nth-child(1) a:hover {background-position:0 -100px;}
				.inpnNumKey li:nth-child(2) a:hover {background-position:-100px -100px;}
				.inpnNumKey li:nth-child(3) a:hover {background-position:-200px -100px;}
				.inpnNumKey li:nth-child(4) a:hover {background-position:-300px -100px;}
				.inpnNumKey li:nth-child(5) a:hover {background-position:-400px -100px;}
				.inpnNumKey li:nth-child(6) a:hover {background-position:-500px -100px;}
				.inpnNumKey li:nth-child(7) a:hover {background-position:-600px -100px;}
				.inpnNumKey li:nth-child(8) a:hover {background-position:-700px -100px;}
				.inpnNumKey li:nth-child(9) a:hover {background-position:-800px -100px;}
				.inpnNumKey li:nth-child(10) a:hover {background-position:-900px -100px;}
		.inpnAutoKey {float:left;margin-left:40px;width:215px;height:215px;}
			.inpnAutoKey a {display:block;width:100%;height:100%;background:url(../images/divpop/input_num_auto.png) no-repeat;}
			.inpnAutoKey a:hover {background:url(../images/divpop/input_num_auto_on.png) no-repeat;}
	#inputNumBox .pageBtnBox {padding-top:40px;width:100%;background:url(../images/divpop/input_num_line_dot.png) no-repeat 50% 0;}
		.tagNumSubmit {display:inline-block;width:310px;height:90px;line-height:90px;font-weight:bold;/*font-size:3.6em;*/font-size:3em;color:#fff;background:url(../images/divpop/input_num_submit.png) no-repeat;}
		.tagNumSubmit:hover {color:#fff;background:url(../images/divpop/input_num_submit_on.png) no-repeat;}

#slotMachineBox {margin-top:-330px;margin-left:-505px;width:1020px;height:670px;text-align:center;border:5px solid #000;background:url(../images/divpop/slotmachin_bg.png) no-repeat 50%;}
#slotMachineBox.divPopupBox {display:block;margin-left:2000px;}
	#slotMachineBox .closeIcon {width:34px;top:-10px;}
	.sltmTitle {position:relative;margin:30px auto;width:100%;z-index:1;}
	.sltmMsg {position:relative;margin:15px auto;width:100%;height:100px;z-index:1;background:url(../images/divpop/slotmachin_title.png) no-repeat 50% 0;}
	.sltmMsg.sltmRunning {background:url(../images/divpop/slotmachin_title_ing.png) no-repeat 50% 0;}
	.sltmMsg.sltmEnd {background:url(../images/divpop/slotmachin_title_end.png) no-repeat 50% 0;}
	.sltmTitleBg {position:absolute;top:25px;left:160px;width:685px;z-index:-1;}
	#slotM {margin-top:-110px;margin-bottom:10px;margin-left:20px;width:931px;height:460px;background:url(../images/divpop/slotmachin_box_bg.png) no-repeat 50%;}
		.sltmReelWrap {position:absolute;top:170px;left:165px;width:450px;}
			.sltmReel {float:left;display:inline-block;width:100%;height:255px;overflow:hidden;text-align:center;}
				/* .sltmReel div {position:relative;top:200px;text-align:center;} */
				.sltmReel div {position:relative; top: -95px; text-align:center;}  /* by jang */
					.sltmReel div p {display:inline-block;margin-top:10px;padding-left:20px;width:262px;height:138px;font:800 80px / 138px "Noto Sans KR";color:#ffff00;background:url(../images/divpop/slotmachin_tag_bg.png) no-repeat 50%;}
		.sltmReelShadow {position:absolute;top:170px;left:165px;width:450px;height:255px;background:url(../images/divpop/slotmachin_box_shadow.png) no-repeat 50%;background-size:cover;}
		.sltmReelCount {position:absolute;top:195px;right:150px;font:800 80px / 138px "Noto Sans KR";color:#fff;text-align:right;}
		.sltmSkipBtn {position:absolute;bottom:140px;right:75px;width:140px;height:80px;background:url(../images/divpop/slotmachin_skip_btn.png) no-repeat 50% 0;}
		.sltmSkipBtn:hover {background:url(../images/divpop/slotmachin_skip_btn_over.png) no-repeat;}
	.sltmGuide {padding-top:20px;width:100%;background:url(../images/divpop/slotmachin_line_dot.png) no-repeat 50% 0;}
		.sltmGuide img {width:676px;}

#bigTagOpenBox {margin-top:-400px;margin-left:-510px;width:1020px;height:800px;text-align:center;}
#bigTagOpenBox.divPopupBox {background:transparent;z-index:400;}
	#bigTagWrap {position:relative;width:100%;height:800px;}
		.bigTagFront {position:absolute;top:50%;left:50%;margin-top:-216px;margin-left:-394px;width:788px;height:432px;text-align:center;background:url(../images/divpop/big_tag_front_bg.png) no-repeat 50% 0;z-index:10;cursor:pointer;}
		.bigTagFront.slideHover {	
									-webkit-animation-name:slideHover;
									-webkit-animation-duration:2s;
									-webkit-animation-timing-function:ease;
									-webkit-animation-delay:0s;
									-webkit-animation-iteration-count:infinite;
									-webkit-animation-direction: alternate;
									-webkit-animation-play-state:running;

									-moz-animation-name:slideHover;
									-moz-animation-duration:2s;
									-moz-animation-timing-function:ease;
									-moz-animation-delay:0s;
									-moz-animation-iteration-count:infinite;
									-moz-animation-direction: alternate;
									-moz-animation-play-state:running;

									-o-animation-name:slideHover;
									-o-animation-duration:2s;
									-o-animation-timing-function:ease;
									-o-animation-delay:0s;
									-o-animation-iteration-count:infinite;
									-o-animation-direction: alternate;
									-o-animation-play-state:running;

									-ms-animation-name:slideHover;
									-ms-animation-duration:2s;
									-ms-animation-timing-function:ease;
									-ms-animation-delay:0s;
									-ms-animation-iteration-count:infinite;
									-ms-animation-direction: alternate;
									-ms-animation-play-state:running;

									animation-name:slideHover;
									animation-duration:2s;
									animation-timing-function:ease;
									animation-delay:0s;
									animation-iteration-count:infinite;
									animation-direction: alternate;
									animation-play-state:running;
								}
		@-webkit-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-200px,0,0);}
		}
		@-moz-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-200px,0,0);}
		}
		@-o-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-200px,0,0);}
		}
		@-ms-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-200px,0,0);}
		}
		@keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-200px,0,0);}
		}
		.bigTagFront.slideClick {
									-webkit-animation-name:slideClick;
									-webkit-animation-duration:6s;
									-webkit-animation-timing-function:ease-out;
									-webkit-animation-delay:0s;
									-webkit-animation-iteration-count:1;
									-webkit-animation-fill-mode:forwards;

									-moz-animation-name:slideClick;
									-moz-animation-duration:6s;
									-moz-animation-timing-function:ease-out;
									-moz-animation-delay:0s;
									-moz-animation-iteration-count:1;
									-moz-animation-fill-mode:forwards;

									-o-animation-name:slideClick;
									-o-animation-duration:6s;
									-o-animation-timing-function:ease-out;
									-o-animation-delay:0s;
									-o-animation-iteration-count:1;
									-o-animation-fill-mode:forwards;

									-ms-animation-name:slideClick;
									-ms-animation-duration:6s;
									-ms-animation-timing-function:ease-out;
									-ms-animation-delay:0s;
									-ms-animation-iteration-count:1;
									-ms-animation-fill-mode:forwards;

									animation-name:slideClick;
									animation-duration:6s;
									animation-timing-function:ease-out;
									animation-delay:0s;
									animation-iteration-count:1;
									animation-fill-mode:forwards;
								}
		@-webkit-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-400px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@-moz-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-400px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@-o-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-400px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@-ms-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-400px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-400px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
			.btfPrice {margin-top:70px;margin-left:90px;font:600 60px / 90px "Noto Sans KR";color:#fff;}
				.btfPriceNum {font:800 100px / 90px "Noto Sans KR";color:#ffff00;}
				.btfPoint {font:800 30px / 100px "Noto Sans KR";color:#fff;}
			.hoverHand {position:absolute;bottom:-40px;right:80px;width:111px;height:178px;}
			.hoverHand.hoverEff2 {-webkit-transform-origin:bottom;-moz-transform-origin:bottom;-ms-transform-origin:bottom;transform-origin:bottom;}
			.hoverClick {position:absolute;bottom:-90px;right:90px;width:104px;height:49px;}
		.bigTagBack {position:absolute;top:50%;left:50%;margin-top:-216px;margin-left:-394px;width:788px;height:432px;text-align:right;z-index:5;}
		.bigTagBack1 {background:url(../images/divpop/big_tag_back_bg_1.png) no-repeat 50% 0;}
		.bigTagBack2 {background:url(../images/divpop/big_tag_back_bg_2.png) no-repeat 50% 0;}
		.bigTagBack3 {background:url(../images/divpop/big_tag_back_bg_3.png) no-repeat 50% 0;}
		.bigTagBack4 {background:url(../images/divpop/big_tag_back_bg_4.png) no-repeat 50% 0;}
			.btbSale {margin-top:140px;padding-right:80px;font:800 48px / 90px "Noto Sans KR";color:#fff;letter-spacing:-0.05em;}
			.btbPrice {margin-top:20px;padding-right:75px;font:800 100px / 90px "Noto Sans KR";color:#000;letter-spacing:-0.05em;}
				.btbPriceNum {font:800 120px / 80px "Noto Sans KR";color:#c82358;}
		.bigTagBack_after {position:absolute;top:50%;left:50%;margin-top:-216px;margin-left:-394px;width:788px;height:432px;}
			.celebrationBox {position:absolute;top:-100px;left:0;width:100%;font:italic 800 70px / 90px "BMDoHyeon";color:#fff;z-index:10;}
			.actScale {
						-webkit-animation-name:scaleHover;
						-webkit-animation-duration:.5s;
						-webkit-animation-timing-function:ease;
						-webkit-animation-delay:0s;
						-webkit-animation-iteration-count:infinite;
						-webkit-animation-direction: alternate;

						-moz-animation-name:scaleHover;
						-moz-animation-duration:.5s;
						-moz-animation-timing-function:ease;
						-moz-animation-delay:0s;
						-moz-animation-iteration-count:infinite;
						-moz-animation-direction: alternate;

						-o-animation-name:scaleHover;
						-o-animation-duration:.5s;
						-o-animation-timing-function:ease;
						-o-animation-delay:0s;
						-o-animation-iteration-count:infinite;
						-o-animation-direction: alternate;

						-ms-animation-name:scaleHover;
						-ms-animation-duration:.5s;
						-ms-animation-timing-function:ease;
						-ms-animation-delay:0s;
						-ms-animation-iteration-count:infinite;
						-ms-animation-direction: alternate;

						animation-name:scaleHover;
						animation-duration:.5s;
						animation-timing-function:ease;
						animation-delay:0s;
						animation-iteration-count:infinite;
						animation-direction: alternate;
					}
			@-webkit-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@-moz-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@-o-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@-ms-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
				.celebrationBox span {font-style:italic;font-size:100px;}
			.btbaDescTxt {position:absolute;bottom:-80px;left:0;width:100%;font:400 24px / 90px "Noto Sans KR";color:#fff;letter-spacing:-0.05em;z-index:10;}
			.actBefore {transform:translate3d(-3000px,0,0);}
				.btbaDescTxt span {font-weight:800;color:#ff1000;}
			.celebrationBg {position:absolute;top:0;left:0;width:1000px;height:100%;background:none;}
				#celebrationCvs {display:block;width:100%;height:100%;}
			.celebrationBg.actClbr {background:url(../images/divpop/big_tag_back_celebration_bg.png) no-repeat 0 0;
									-webkit-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									-moz-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									-o-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									-ms-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									animation:clbrtOn 0.8s steps(2) infinite alternate running;
									}
			@-webkit-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@-moz-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@-o-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@-ms-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}

#tagResultBox {margin-top:-306px;margin-left:-510px;width:1020px;height:670px;text-align:center;border:5px solid #000;background:url(../images/divpop/tag_result_bg.png) no-repeat 50%;}
	.trTagBox {display:block;margin:10px auto;width:330px;height:160px;text-align:right;}
	.trTagBox1 {background:url(../images/divpop/tag_result_tag_1.png) no-repeat 50%;}
	.trTagBox2 {background:url(../images/divpop/tag_result_tag_2.png) no-repeat 50%;}
	.trTagBox3 {background:url(../images/divpop/tag_result_tag_3.png) no-repeat 50%;}
	.trTagBox4 {background:url(../images/divpop/tag_result_tag_4.png) no-repeat 50%;}
		.trSale {display:inline-block;margin-top:50px;padding-right:30px;width:100%;font:800 16px / 30px "Noto Sans KR";color:#fff;letter-spacing:-0.05em;}
		.trPrice {display:inline-block;padding-right:30px;width:100%;font:800 34px / 50px "Noto Sans KR";color:#000;letter-spacing:-0.05em;}
			.trPriceNum {font:800 38px / 50px "Noto Sans KR";color:#c82358;}
	.backPointBox {position:absolute;top:40px;left:40px;padding-right:20px;width:260px;height:60px;line-height:60px;font-weight:400;font-size:26px;color:#fff;text-align:right;background:url(../images/divpop/tag_result_point_box.png) no-repeat 0 50%;}
		.backPointNum {display:inline-block;margin-right:5px;font-weight:600;font-size:26px;color:#fff200;}
	.tagResultWrap {width:100%;}
		.trTitle {position:relative;margin:30px auto;margin-top:-10px;width:515px;z-index:1;}
			.trTitleBg {position:absolute;top:20px;left:-80px;width:685px;z-index:-1;}
		.trTagBtns {margin:0 auto;width:800px;}
			.trTagBtns li {float:left;width:100%;text-align:left;}
				.trTagBtn {float:left;display:block;width:150px;height:110px;background:url(../images/divpop/tag_result_btn.png) no-repeat;}
				.trTagBtn1 {background-position:0 0;}
				.trTagBtn2 {background-position:-150px 0;}
				.trTagBtn3 {background-position:-300px 0;}
				.trTagBtn1:hover {background-position:0 -110px;}
				.trTagBtn2:hover {background-position:-150px -110px;}
				.trTagBtn3:hover {background-position:-300px -110px;}
				.trBtnDesc {float:left;padding-left:30px;width:650px;font:400 22px / 110px "Noto Sans KR";color:#fff;letter-spacing:-0.05em;text-shadow:1px 2px 5px #000;}
				.trTagBtns li:last-child .trBtnDesc {padding-top:20px;line-height:34px;}
					.trBtnDesc span {font:800 30px / 20px "Noto Sans KR";color:#ff7f00;letter-spacing:-0.05em;}
					.trBtnDesc .point {font-size:16px;color:#ffff00;}

/* inc_tag_keep */
.tagKeepBoxWrap {display:none;position:fixed;float:left;width:100%;height:80px;box-shadow:0 0 5px #000;z-index:9999;}
	.tagKeepBoxBg1,
	.tagKeepBoxBg2 {position:absolute;height:100%;z-index:1;}
	.tagKeepBoxBg1 {top:0;left:0;background:#0e5ea5;}
	.tagKeepBoxBg2 {top:0;right:0;background:#1da1f2;}
	.tagKeepBoxWrap .closeIcon {top:25px;right:30px;}
	.tagKeepBox {position:absolute;top:0;left:0;width:100%;height:80px;background:url(../images/sub_goods/icon_tag_keep_bg.png) repeat-x 0 0;z-index:9999;}
		.tkTitle {float:left;width:145px;}
			.tkTitle img {margin-top:10px;width:103px;}
		.tkGoodsBox {float:left;padding:20px 15px 20px 0;width:300px;background:url(../images/sub_goods/icon_tag_keep_line_h_line.png) no-repeat 100% 50%;}
			.tkGoodsName {float:left;width:77%;font-family:'dotum';font-size:1.4em;color:#fff;line-height:22px;}
			.tagKeepBox .smBtn {float:right;margin-top:10px;color:#fff;background:#0e5ea5;border:0;}
		.tkPriceBox {float:left;padding:0 15px;width:345px;background:url(../images/sub_goods/icon_tag_keep_line_h_dot.png) no-repeat 100% 50%;}
			.tkPriceBox dl {float:left;padding:20px 0 20px 45px;width:100%;font-family:'dotum';font-size:1.4em;font-weight:bold;color:#fff;background:url(../images/sub_goods/icon_tag_keep_money.png) no-repeat 0 10px;}
				.tkPriceBox dt {float:left;width:25%;}
				.tkPriceBox dd {float:left;width:75%;text-align:left;}
				.tkPrice {color:#ffff00;}
		.tkTimeBox {float:left;padding-left:15px;width:230px;}
			.tkTimeCon1 {display:block;}
			.tkTimeCon2 {display:none;}
				.tkTimeCon1 dl {float:left;padding:15px 0 0 35px;width:55%;font-size:1.4em;font-weight:bold;color:#fff;text-align:right;background:url(../images/sub_goods/icon_tag_keep_clock.png) no-repeat 0 10px;}
					.tkTimeCon1 dt {float:left;width:100%;}
					.tkTimeCon1 dd {float:left;width:100%;}
						.leftTime,
						.leftTimeTag {display:inline-block;font-family:'Arial';font-size:30px;font-weight:bold;color:#00ffff;}
						.tagKeepBox .tkTimeBox .smBtn {margin-top:18px;}
					.tkTimeCon2 dl {float:left;padding:15px 0 0 35px;width:100%;background:url(../images/sub_goods/icon_tag_keep_clock.png) no-repeat 0 10px;}
						.tkTimeCon2 dd {float:left;width:100%;font-family:"Noto Sans KR";font-size:1.1em;color:#fff;}
	.bigTagBox {position:absolute;top:-460px;right:0;width:193px;height:549px;}
		.bgtInfo {position:absolute;top:0;right:0;width:193px;height:549px;text-align:center;background:url(../images/sub_goods/big_tag_bg.png) repeat-x 0 0;z-index:8888;}
			.bgtRate {float:left;margin-top:235px;width:100%;font-size:3.2em;font-weight:500;letter-spacing:-0.025em;color:#fff;}
				.bgtRate span {font-family:"Arial";font-size:30px;}
			.bgtName {float:left;width:100%;font-size:1.8em;font-weight:500;color:#fff;}
			.bgtPrice {float:left;margin-bottom:10px;padding-bottom:10px;width:100%;font-family:"dotum";font-size:3em;font-weight:500;color:#ffff00;background:url(../images/common/blt_black_line_bg.gif) no-repeat 50% 100%;}
				.bgtPrice span {font-family:"Arial";;}
			.bgtClock {float:left;padding-left:35px;width:100%;height:30px;line-height:30px;font-size:1.4em;color:#fff;background:url(../images/sub_goods/icon_big_tag_clock.png) no-repeat 25% 0;}
			.bgtTime {float:left;width:100%;line-height:64px;font-family:"dotum";font-size:1.8em;color:#fff;font-weight:bold;}
				.bgtTime .leftTime,
				.bgtTime .leftTimeTag {font-size:60px;}
			.bgtInfo .redBtn {display:inline-block;margin:0 auto;width:70px;height:33px;line-height:33px;font-size:1.6em;color:#fff;background:#71162e;}
		.bgtStatus {position:absolute;bottom:-18px;left:50%;margin-left:-46px;z-index:8800;}
			.bgtStatus a {display:block;width:92px;height:30px;}
			.bgtStatus.bgtSttOpen {background:url(../images/sub_goods/bgt_status_open.png) no-repeat;}
			.bgtStatus.bgtSttClose {background:url(../images/sub_goods/bgt_status_close.png) no-repeat;}
