/*
===============================================================================================
1.	버    전 : goods.css
2.	작 성 자 : Ryu
3.	참    고 : GOODS 상품관련
===============================================================================================
*/

/* goods_view */
.goodsViewWrap {}
	#goodsIntroBox {float:left;padding:40px 0;width:100%;}
		.gdsTitle {float:left;margin-bottom:30px;padding-bottom:15px;width:100%;border-bottom:2px solid #333;}
			.gdsTitle h5 {float:left;font-size:2em;font-weight:700;}
			.gdsNumber {float:right;margin-top:3px;font-family:'dotum';}
				.gdsNumber span {font-size:1.2em;color:#666;}
				.copyUrlBtn {}
		.gdsImgBox {float:left;margin-right:40px;width:480px;}
			.gdsBigImg {float:left;width:100%;}
			.gdsSmallImg {float:left;margin-top:20px;width:100%;}
				.gdsSmallImg li {float:left;margin-left:10px;}
				.gdsSmallImg li:first-child {margin-left:0;}
					.gdsSmallImg li span {display:block;width:60px;height:60px;background:#f7f7f7;border:1px solid #ddd;}
		.gdsInfoBox{float:left;width:500px;}
			.gdsOrgP,
			.gdsTagP {float:left;width:100%;font-family:'dotum';font-size:1.2em;color:#666;}
				.gdsInfoBox dt {float:left;width:30%;font-weight:400;}
				.gdsInfoBox dd {float:left;width:70%;line-height:24px;}
			.gdsTagP {margin-top:10px;padding-top:15px;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
				.gdsTagP dt {line-height:30px;}
				.gdsTagP dd {font-size:16px;font-weight:700;}
				.gdsTagP dd span {font-family:'Arial';font-size:30px;}
			.tagFormation {float:left;margin-bottom:20px;width:100%;}
				section h6.tagFormTitle {margin:5px 0 10px 0;padding-top:15px;padding-bottom:0;background-position:0 0;}
				.tagFormTable {float:left;width:500px;height:328px;border:1px solid #e1e1e1;}
					.tagFormHead {float:left;width:100%;line-height:27px;font-family:'dotum';font-size:11px;color:#666;border-bottom:1px solid #e1e1e1;}
						.tagFormHead li {float:left;text-align:center;}
						.tfh1 {float:left;width:65%;}
						.tfh2 {float:left;width:10%;}
						.tfh3 {float:left;width:25%;}
						.tagFormHead > li.tfh3 {padding-right:25px;text-align:right;}
					.tagFormBody {float:left;padding:10px;width:100%;height:234px;font-family:'dotum';font-size:11px;color:#666;overflow-y:scroll;}
						.tagFormBody li {float:left;margin-bottom:5px;width:100%;}
						.tagFormBody .tfh1 {position:relative;height:20px;}
							.tgbBox {position:absolute;}
								.tgb1 {float:left;width:10px;height:20px;}
								.tgb2 {float:left;min-width:50px;height:20px;line-height:20px;font-weight:bold;color:#fff;}
								.tgb3 {float:left;width:15px;height:20px;}
								.tgbRating1 .tgb1 {background:url(../images/sub_goods/tagbg_rating1_1.gif) no-repeat 0 0;}
								.tgbRating1 .tgb2 {background:url(../images/sub_goods/tagbg_rating1_2.gif) no-repeat 0 0;}
								.tgbRating1 .tgb3 {background:url(../images/sub_goods/tagbg_rating1_3.gif) no-repeat 0 0;}
								.tgbRating2 .tgb1 {background:url(../images/sub_goods/tagbg_rating2_1.gif) no-repeat 0 0;}
								.tgbRating2 .tgb2 {background:url(../images/sub_goods/tagbg_rating2_2.gif) no-repeat 0 0;}
								.tgbRating2 .tgb3 {background:url(../images/sub_goods/tagbg_rating2_3.gif) no-repeat 0 0;}
								.tgbRating3 .tgb1 {background:url(../images/sub_goods/tagbg_rating3_1.gif) no-repeat 0 0;}
								.tgbRating3 .tgb2 {background:url(../images/sub_goods/tagbg_rating3_2.gif) no-repeat 0 0;}
								.tgbRating3 .tgb3 {background:url(../images/sub_goods/tagbg_rating3_3.gif) no-repeat 0 0;}
							.tgbLine {position:absolute;top:50%;left:0;width:100%;height:1px;z-index:-1;}
							.tgbRating1 .tgbLine {background:#7ec2cd;}
							.tgbRating2 .tgbLine {background:#d7b252;}
							.tgbRating3 .tgbLine {background:#bac0c4;}
						.tagFormBody .tfh2 {text-align:right;}
						.tagFormBody .tfh3 {text-align:right;}
					.tagFormBottom {float:left;width:100%;}
						.tagFormBottom .brownDotLi {padding-left:10px;background:#f7f7f7;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
						.tagGuideImg img {margin:10px;width:295px;}
			.tagTutoralBox {float:left;padding:15px 20px;width:62%;height:110px;border:2px solid #333;}
				.tagTutoDesc {padding-left:50px;font-size:1.3em;letter-spacing:-0.025em;color:#666;background:url(../images/sub_goods/icon_graph.png) no-repeat 0 0;}
					.tagTutoDesc span {font-weight:700;color:#333;}
				.tagTutoDesc2 {margin-top:10px;padding-top:10px;font-family:'dotum';font-size:1.2em;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
					.tagTutoDesc2 a {float:right;}
			.OpenBuyBox {float:right;width:35%;}
				.open_buy_btn {display:inline-block;width:100%;height:110px;line-height:110px;font-size:2.4em;color:#fff;font-weight:700;text-align:center;background:#ff4100;border:1px solid #c63402;}
				.open_buy_btn:hover {color:#fff;background:#e83d02;}

	#buyStandbyBox {float:left;padding:40px 0;width:100%;background:#f7f7f7;}
		.buyStandbyDesc {float:left;margin-bottom:20px;padding-bottom:20px;width:100%;background:url(../images/common/line_w_dot2.png) repeat-x 0 100%;}
			.buyStandbyDesc dt {font-size:1.4em;color:#666;}
			.buyStandbyDesc dd {margin-top:20px;padding-right:22px;}
		.buyStandbyDesc2 {float:left;width:60%;height:50px;padding:7px 0 7px 65px;font-size:1.2em;color:#666;background:url(../images/sub_goods/icon_pencil.png) no-repeat 0 0;}
		.regBuyStandbyBox {float:left;width:40%;}
			.reg_buy_standby_btn {padding:5px 20px;height:50px;}
		#buyStandbyBox .grid50 {float:right;}
		#buyStandbyBox table {float:left;width:100%;border-top:1px solid #ddd;}
			#buyStandbyBox table th,
			#buyStandbyBox table td {font-family:"dotum";}
			#buyStandbyBox table th:last-child,
			#buyStandbyBox table td:last-child {border-right:0;}
			#buyStandbyBox table th {padding:8px 20px;font-size:1.2em;font-weight:400;text-align:center;vertical-align:middle;color:#333;background:#ececec;border-bottom:1px solid #ddd;}
			#buyStandbyBox table td {padding:6px 20px;font-size:1.2em;text-align:center;color:#666;background:#fff;border-bottom:1px solid #ddd;}
		#buyStandbyBox .brownDotLi {float:left;}
			#buyStandbyBox .brownDotLi span {color:#58b4c3;font-weight:700;}
			#buyStandbyBox .grid50 .brownDotLi li {margin-top:5px;font-size:11px;}

	#goodsInfoBox {float:left;width:100%;}
		.detailInfoBox {float:left;width:100%;padding:50px 20px;text-align:center;}
			.detailInfoBox img {width:inherit;}
	
	#goodsQnaBox {float:left;width:100%;}
		.boardOption {float:right;font-family:'dotum';font-size:11px;}
			.boardOption input[type="checkbox"] {background:#fff;border:1px solid #ddd;}
			.boardOption label {margin-right:10px;font-weight:normal;color:#666;}
		.slideListBox {margin-bottom:50px;}
			#goodsQnaBox .stl_1 {width:10%;}
			#goodsQnaBox .stl_2 {width:60%;}
			#goodsQnaBox .slideListBody .stl_2 {text-align:left;}
			#goodsQnaBox .stl_3 {width:15%;}
			#goodsQnaBox .stl_4 {width:15%;}
			.qStatus {float:left;margin-right:10px;width:100px;}
				.qDone,
				.qIng {display:inline-block;float:left;margin-top:11px;padding-right:10px;padding-left:10px;height:20px;line-height:20px;font-size:11px;color:#888;border:1px solid #ddd;}
				.qDone {background:#f5f5f5;}
				.qIng {background:#fff;}
				.qSecret {float:right;margin-top:15px;width:12px;height:15px;background:url(../images/sub_goods/icon_secret.jpg) no-repeat 0 50%;}
			#goodsQnaBox .slideListBody .conLine .stl_1 {float:left;width:10%;}
			#goodsQnaBox .slideListBody .conLine .stl_2 {float:left;width:90%;}
			.textBoxQ,
			.textBoxA {float:left;padding:20px 0;width:100%;}
			.textBoxA {background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
			.textBoxQ .stl_1 {height:40px;background:url(../images/sub_goods/icon_q.png) no-repeat 50% 0;}
			.textBoxQ .stl_2 {line-height:24px;}
			.textBoxA .stl_1 {height:40px;background:url(../images/sub_goods/icon_a.png) no-repeat 50% 0;}
		.questRegBox {}
			.regText {float:left;width:100%;}
				.regText textarea {width:100%;}
		
	#goodsDeliveryBox {float:left;width:100%;}
	
	#goodsReturnBox {float:left;width:100%;}

/* order */
.orderWrap {}
	#goodsInfoConfilmBox {float:left;width:100%;}
		#goodsInfoConfilmBox .viewTable th,
		#goodsInfoConfilmBox .viewTable td {text-align:center;vertical-align:middle;}
			#goodsInfoConfilmBox .imgbox {float:left;width:70px;height:70px;}
			#goodsInfoConfilmBox .goodsName {float:left;margin-left:20px;padding-top:20px;width:80%;height:70px;vertical-align:middle;}
	#oGoodsOptionBox {float:left;margin-top:50px;width:100%;}
		#oGoodsOptionBox .goodsOptionWrap {float:left;padding:20px 30px;width:100%;font-family:'dotum';font-size:1.2em;color:#666;border:1px solid #dedede;}
			#oGoodsOptionBox .goodsOptionWrap .gridL {background:url(../images/common/line_h_dot2.png) repeat-y 100% 0;}
				#oGoodsOptionBox .goodsOptionWrap .gridL li {float:left;width:100%;}
				#oGoodsOptionBox .goodsOptionWrap .liOrangeDot {margin-bottom:20px;font-weight:bold;color:#333;}
					#oGoodsOptionBox .goodsOptionWrap .gridL label {float:left;width:55px;line-height:30px;font-weight:bold;}
					#oGoodsOptionBox .goodsOptionWrap .gridL .gdsOtionSlt {float:left;width:200px;}
					#oGoodsOptionBox .goodsOptionWrap .btnS1 {float:left;margin-left:10px;padding-right:20px;padding-left:20px;height:30px;line-height:30px;}
				#oGoodsOptionBox .goodsOptionWrap .gridR li {line-height:110px;font-size:1.8em;color:#222;font-weight:bold;}
				#oGoodsOptionBox .goodsOptionWrap .gridR .gridRR {float:left;margin-left:30px;}
				#oGoodsOptionBox .goodsOptionWrap .gridR .gridLL {float:right;text-align:right;}
					#oGoodsOptionBox .goodsOptionWrap .gridR .gridLL span:first-child {font-family:"Arial";font-size:30px;}
	#deliveryInfoBox {float:left;margin-top:50px;width:100%;}
		#deliveryInfoBox .viewTable th,
		#deliveryInfoBox .viewTable td {padding-top:5px;padding-bottom:5px;vertical-align:middle;}
		#deliveryInfoBox .viewTable th {padding-top:10px;padding-bottom:10px;}
			#dlvrPost {width:80px;}
			#dlvrAddress {width:55%;}
			#dlvrAddress2 {width:43%;}
			#dlvrTelBox label {width:55px;}
			#dlvrMsgBox .dlvrMsgSlt {float:left;width:260px;height:30px;}
			#dlvrMsgBox input[type='text'] {width:500px;}
	#paymentInfoBox {float:left;margin-top:50px;width:100%;}
		#paymentInfoBox h5 {width:100%;}
		.paymentInputBox {float:left;padding:25px;width:720px;font-family:"dotum";font-size:1.2em;color:#666;border:5px solid #dedede;}
		.paymentInputBox2 {float:right;width:280px;}
			.tagMoneyUse {float:left;width:100%;}
				.tagMoneyUse input[type="radio"] {margin-left:30px;}
				.tagMoneyUse input[type="text"] {margin:0 10px;}
				#tagMoneyPrice {}
				.tagMoneyUseDesc {margin:10px 0;}
			.payKindUlBox {float:left;padding-top:15px;width:100%;border-top:1px solid #dedede;}
				.payKindUlBox > li {float:left;width:33.33%;height:280px;}
				.payKindLi_1 {padding-right:15px;background:url(../images/common/line_h_dot2.png) repeat-y 100% 0;}
				.payKindLi_2 {padding:0 15px;background:url(../images/common/line_h_dot2.png) repeat-y 100% 0;}
				.payKindLi_3 {padding-left:15px;}
					.payKindUlBox > li > ul,
					.payKindUlBox > li > ul > li {float:left;width:100%;}
							.payKindChoice {padding:0 15px;width:100%;line-height:40px;background:#f5f5f5;}
							.payKindUlBox label {margin:20px 0 10px 0;width:80%;font-weight:bold;}
							.payKindUlBox .radioBoxWrap label {display:inline;margin:0;font-weight:normal;}
							.payKindUlBox > li:nth-child(1) .payKindSlt {margin-bottom:10px;width:204px;}
							.payKindUlBox > li:nth-child(2) .payKindSlt {margin-bottom:10px;width:190px;}
							.payKindUlBox > li:nth-child(3) .payKindSlt {margin-bottom:10px;width:204px;}
							.payKindLi_1 li:last-child {margin-top:10px;font-size:11px;}
							.deductionBox {margin-top:20px;padding-top:20px;border-top:1px solid #dedede;}
							.payKindUlBox input[type="text"] {width:100%;}
			.paySummaryBox {float:left;padding-top:5px;width:100%;border:5px solid #333;}
				.paySummaryBox li {float:left;padding:0 20px;width:100%;font-family:'dotum';color:#333;font-weight:bold;}
					li.paysmmryLi1,
					li.paysmmryLi2,
					li.paysmmryLi4 {font-size:1.2em;line-height:42px;}
					li.paysmmryLi1 span,
					li.paysmmryLi2 span,
					li.paysmmryLi3 {font-size:1.4em;}
					li.paysmmryLi2 .grid50 {height:42px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
					li.paysmmryLi3 .gridR {color:#ff4100;}
					li.paysmmryLi3 {line-height:65px;}
					li.paysmmryLi3 span {font-family:"Arial";font-size:24px;color:#ff4100;}
					li.paysmmryLi4 {color:#666;font-weight:normal;background:#f7f7f7;}
					li.paysmmryLi4 span {font-weight:bold;}
						.paySummaryBox .gridL {}
						.paySummaryBox .gridR {text-align:right;}
			.payPolicyBox {float:left;width:100%;font-family:'dotum';}
				.payPolicyBox li {float:left;width:100%;}
					.payPolicyBox li:first-child {margin-top:5px;}
					.payPolicyBox li{line-height:30px;font-size:11px;color:#666;letter-spacing:-0.05em;}
					#paymentPolicyBox {float:left;width:100%;height:90px;font-size:11px;color:#666;border:1px solid #dedede;}
					.payPolicyBox .pageBtnBox {margin-top:5px;padding-top:10px;border-top:1px solid #333;}

/* transfer */
.transferWrap {}
	#tTakeOverListBox {float:left;margin-top:50px;width:100%;}
		.takoverListBox {float:left;padding:15px;width:100%;border:1px solid #383838;}
			.takoverListBox table {float:left;width:100%;}
				.takoverListBox th,
				.takoverListBox td {padding:5px 5px;font-family:"dotum";}
				.takoverListBox th:last-child,
				.takoverListBox td:last-child {border-right:0;}
				.takoverListBox th {padding-top:15px;padding-bottom:15px;font-size:1.2em;font-weight:400;text-align:center;vertical-align:middle;color:#222;background:#f7f7f7;}
				.takoverListBox td {padding-top:7px;padding-bottom:7px;font-size:1.2em;text-align:center;color:#666;background:#fff;background:url(../images/common/line_w_dot2.png) repeat-x 0 100%;}
				.takoverListBox tr:last-child td {background:none;}
					.takoverListBox .btnS1 {padding-right:20px;padding-left:20px;height:30px;line-height:30px;}
					.takoverListBox img {width:30px;}
		.takoverPageWrap {position:relative;float:left;margin-top:10px;width:100%;text-align:center;}
			.takoverPageBox {font-size:1.4em;color:#999;}
				.takoverPageBox span {font-size:14px;color:#333;}
				.takoverPageWrap .roundBtn {position:absolute;top:0;right:0;margin:0;}
	#tWhatTransferBox {float:left;margin-top:50px;width:100%;}
		.whatTransferDesc {clear:both;padding:20px 40px;width:100%;height:130px;line-height:24px;font-size:1.4em;color:#222;background:#f7f7f7;}
			.whatTransferDesc p {padding-top:20px;padding-left:150px;width:100%;height:100%;background:url(../images/sub_goods/icon_whattransfer_desc.png) no-repeat 0 50%;}
		.wtrsStepBox {float:left;padding-right:15px;padding-left:15px;width:100%;}
			.wtrsStepBox li {float:left;}
			.wtst1, .wtst2, .wtst3, .wtst4 {padding-top:125px;width:216px;height:175px;text-align:center;}
			.wtst1 {background:url(../images/sub_goods/icon_what_transfer_1.png) no-repeat 50% 40%;}
			.wtst2 {background:url(../images/sub_goods/icon_what_transfer_2.png) no-repeat 50% 40%;}
			.wtst3 {background:url(../images/sub_goods/icon_what_transfer_3.png) no-repeat 50% 40%;}
			.wtst4 {background:url(../images/sub_goods/icon_what_transfer_4.png) no-repeat 50% 40%;}
			.wtstArrow {width:42px;height:175px;background:url(../images/sub_goods/icon_what_transfer_arrow_left.png) no-repeat 50% 50%;}
				.wtrsStepItem {font-size:1.6em;color:#333;}
		.wtrsStepDetailBox {float:left;padding-top:35px;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
			.wtrsStepDetailBox li {padding-left:30px;background:url(../images/sub_goods/line_orange_h.gif) no-repeat 98px 0;}
				.wtrsStepDetailItem {padding-left:180px;min-height:140px;}
				.wtsd1 {background:url(../images/sub_goods/icon_what_transfer_step1.png) no-repeat 0 0;}
				.wtsd2 {background:url(../images/sub_goods/icon_what_transfer_step2.png) no-repeat 0 0;}
				.wtsd3 {background:url(../images/sub_goods/icon_what_transfer_step3.png) no-repeat 0 0;}
				.wtsd4 {background:url(../images/sub_goods/icon_what_transfer_step4.png) no-repeat 0 0;}
					.stepTitle {font-size:2em;color:#222;font-weight:bold;}
					.stepCon {margin-top:20px;line-height:22px;font-size:1.4em;color:#666;}

/* transfer_request */
.transferRequestWrap {}
	#trGoodsOptionBox {float:left;margin-top:50px;width:100%;}
		#trGoodsOptionBox .goodsOptionWrap {float:left;padding:20px 30px;width:100%;font-family:'dotum';font-size:1.2em;color:#666;border:1px solid #dedede;}
			#trGoodsOptionBox .goodsOptionWrap .gridL {}
				#trGoodsOptionBox .goodsOptionWrap .gridL li {float:left;width:100%;}
					#trGoodsOptionBox .goodsOptionWrap .gridL label {float:left;width:55px;line-height:30px;font-weight:bold;}
					#trGoodsOptionBox .goodsOptionWrap .gridL .gdsOtionSlt {float:left;width:200px;}
			#trGoodsOptionBox .goodsOptionWrap .gridR {}
				#trGoodsOptionBox .goodsOptionWrap .gridR li:first-child {margin-bottom:10px;padding-bottom:10px;background:url(../images/common/line_w_dot2.png) repeat-x 0 100%;}
	#trPriceInfoBox {float:left;margin-top:50px;width:100%;}
		.priceInfoDesc {clear:both;padding:20px 40px;width:100%;height:130px;line-height:24px;font-size:1.4em;color:#222;background:#f7f7f7;}
			.priceInfoDesc p {padding-top:20px;padding-left:150px;width:100%;height:100%;background:url(../images/sub_goods/icon_priceInfo_desc.png) no-repeat 0 50%;}
		#trPriceInfoBox .brownDotLi {}
			#trPriceInfoBox .brownDotLi li {line-height:24px;}
			li.tagMoneyLi {padding-left:0;width:100%;background:none;}
				.tagMoneyBox {display:inline-block;margin-bottom:10px;padding:10px 50px;width:100%;font-size:14px;color:#333;font-weight:bold;border:5px solid #dedede;}
					.tagMoneyBox div {line-height:60px;}
					.tagMoneyBox div:first-child {background:url(../images/common/line_h_dot2.png) no-repeat 100% 0;}
						.tagMoneyBox .num {display:inline-block;width:200px;font-size:24px;font-family:'Arial';text-align:right;}
						.tagMoneyBox .smBtn {line-height:20px;}
						.tagMoneyBox label {font-weight:bold;}
						.tagMoneyBox input[type="text"] {margin-right:10px;margin-left:20px;width:200px;font-size:12px;font-weight:normal;text-align:right;}
		.transferPolicyUl {margin-top:15px;padding-top:15px;background:url(../images/common/line_w_dot2.png) no-repeat 0 0;}
			.transferPolicyUl li {color:#222;background:url(../images/common/blt_orange_dot.gif) no-repeat 0 7px;}
			#transferPolicyBox {float:left;width:720px;height:130px;border:1px solid #dedede;}
			.transferPolicyUl .pageBtnBox {margin-top:65px;}
