@charset "utf-8";

/*
===============================================================================================
1.	버    전 : layout.css
2.	작 성 자 : Ryu
3.	참    고 : Layout
===============================================================================================
*/

#wrap {width:100%;}
	.wWrap {margin:0 auto;width:1020px;}
	.wWrap2 {margin:0 auto;width:800px;}
	.wWrap3 {margin:0 auto;width:90%;}
		.wWrapL {float:left;width:800px;}
		.wWrapR {float:right;width:200px;}
	#skipBox {position:absolute;top:0;left:0;z-index:1000;}
		#skipBox a {position:absolute;top:-9999px;width:120px;}
		#skipBox a:hover,
		#skipBox a:focus {top:0;}
	header {float:left;/*margin-top:40px;*/width:100%;}
		#gnb {}
		#headBox {float:left;width:100%;}
		nav {position:relative;float:left;width:100%;background:#2b343a;z-index:5;}
	#contents {float:left;width:100%;min-height:720px;}
		.subPageGridL {float:left;margin-right:30px;width:190px;}
		.subPageGridR {float:left;width:800px;}
		#contents section {float:left;}
	#popContents {float:left;width:100%;}
	footer {float:left;width:100%;}

/* media */
@media only screen and (max-width:319px){

}

@media only screen and (min-width:320px) and (max-width:639px){

}

@media only screen and (min-width:640px) and (max-width:999px){

}

@media only screen and (min-width:1000px){

}





