/*
===============================================================================================
1.	버    전 : sub.css
2.	작 성 자 : Ryu
3.	참    고 : SUB
===============================================================================================
*/

/* mypage */
.mypageHomeWrap {}
	.mypageHomeWrap #myOrderListBox {float:left;width:100%;}
		.mypageHomeWrap #myOrderListBox .gridL {float:left;width:380px;}
		.mypageHomeWrap #myOrderListBox .gridR {float:right;width:380px;}
		.mypageHomeWrap #myOrderListBox .viewTable th {text-align:center;}
		.mypageHomeWrap #myOrderListBox .viewTable td {padding:30px 20px;font:bold 3em "Arial";color:#333;text-align:center;}
	.mypageHomeWrap #myCounselListBox {float:left;width:100%;}
		.mypageHomeWrap #myCounselListBox .smBtn {float:right;margin-top:10px;}
	.mypageHomeWrap #myPointMoneyBox {float:left;width:100%;}
		.mypageHomeWrap #myPointMoneyBox .gridL {float:left;width:380px;}
		.mypageHomeWrap #myPointMoneyBox .gridR {float:right;width:380px;}
			.mypageHomeWrap #myPointMoneyBox .viewTable th {padding:10px 20px;line-height:30px;font-weight:bold;font-size:1.4em;text-align:center;}
			.mypageHomeWrap #myPointMoneyBox .gridL .viewTable th span {display:block;width:100%;background:url(../images/common/icon_exclamation1.png) no-repeat 0 50%;}
			.mypageHomeWrap #myPointMoneyBox .gridL .viewTable td {font:bold 3em "Arial";color:#333;text-align:center;}
			.mypageHomeWrap #myPointMoneyBox .gridR .viewTable th span {display:block;width:100%;background:url(../images/common/icon_exclamation2.png) no-repeat 0 50%;}
			.mypageHomeWrap #myPointMoneyBox .gridR .viewTable td {border-right:1px solid #ddd;border-left:1px solid #ddd;}

.myOrderListWrap {}
	.myOrderListWrap #myOrderListBox {float:left;width:100%;}
		.myOrderListWrap #myOrderListBox .viewTable th {text-align:center;}
		.myOrderListWrap #myOrderListBox .viewTable td {padding:30px 20px;font:bold 3em "Arial";color:#333;text-align:center;}
		.termListSearchBox {float:left;padding:10px 20px;width:100%;font:normal 12px 'dotum';border:3px solid #ddd;}
			.termListSearchBox > li {float:left;padding:15px 0;width:100%;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
			.termListSearchBox > li:first-child {background:none;}
				.lsTitle {float:left;padding-left:20px;width:100px;font-weight:bold;}
				.lsTitle label {font-weight:bold;}
				.termCon {float:left;}
					.miniBtn {float:left;margin-left:5px;width:50px;height:25px;line-height:25px;color:#fff;text-align:center;background:#999;border-radius:5px;}
					.miniBtn.actOn,
					.miniBtn:hover {color:#fff;background:#c6a370;}
					.termListSearchBox .calendarBox {float:left;margin-top:-3px;}
					.termListSearchBox .mr5 {float:left;line-height:30px;}
				.lsGoodsName {float:left;}
				.termListSearchBox .radioBoxWrap {float:left;width:540px;}
					.termListSearchBox .radioBoxWrap li {float:left;margin-bottom:5px;}
						.termListSearchBox .radioBoxWrap input[type="radio"] {margin-left:20px;}
						.termListSearchBox .radioBoxWrap li:first-child input[type="radio"] {margin-left:0;}
				.termListSearchBox .blckBtn {float:right;margin-top:10px;margin-left:0;padding-left:25px;padding-right:25px;height:30px;line-height:30px;font-size:12px;}
		.myOrderListWrap #myOrderListBox .listTable2 {}
			.ogdOrderNum {color:#c6a370;text-decoration:underline;}
			.ogdItemUl {margin-top:10px;padding-top:10px;width:100%;border-top:1px solid #ddd;;}
			.ogdItemUl:first-child {margin-top:0;padding-top:0;border-top:0;}
				.ogdItemUl li {height:70px;display:table-cell;vertical-align:middle;}
				.ogdItem1 {width:380px;}
				.ogdItem2 {width:90px;color:#333;}
				.ogdItem3 {width:90px;color:#333;}
				.ogdItem4 {width:70px;}
					.ogdItem4 .smBtn {margin-top:5px;}
				.ogdItem5 {width:70px;}
					.ogoodsImg {float:left;width:70px;height:70px;line-height:70px;background:#ddd;}
					.ogoodsName {float:left;padding-left:15px;width:310px;color:#666;text-align:left;}
					.ogoodsOption {float:left;padding-left:15px;color:#999;}

.myOrderViewWrap {}
	.myOrderViewWrap .borderBox_ddd3px {padding:15px 20px;font:normal 12px 'dotum';}
	.goodsInfoBox.viewTable th,
	.goodsInfoBox.viewTable td {padding:15px 5px;text-align:center;vertical-align:middle;}
		.goodsInfoBox .ogoodsName,
		.goodsInfoBox .ogoodsOption {width:220px;}
		.myOrderViewWrap .balloonTip {float:right;margin-top:-2px;margin-right:5px;width:20px;}

.myCsCounselListWrap {}
	.listSearchBox {float:left;padding:20px 20px;width:100%;}
		.listSearchSlt {float:left;margin-right:10px;width:80px;}
		.listSearchBox .blckBtn {width:70px;font-family:'dotum';font-size:12px;text-align:center;}
	#myCsCounselListBox .listTable th {color:#222;}
	#myCsCounselListBox .listTable td {padding:13px 5px;color:#666;}

.myMemberInfoPwWrap {}
	#myMemberInfoPwBox {float:left;width:100%;}
		#myMemberInfoPwBox .borderBox_ddd3px {padding:50px 50px 60px 210px;background:url(../images/sub_mypage/icon_key.png) no-repeat 60px 50px;}
			#myMemberInfoPwBox h5 {padding-bottom:20px;width:100%;background:url(../images/sub_mypage/blt_red_line_bg.gif) no-repeat 0 100%;}
			#myMemberInfoPwBox .txtBox {font:normal 14px 'dotum';}
			#pwConfilm {float:left;}
			#myMemberInfoPwBox .blckBtn {width:70px;font-family:'dotum';font-size:12px;text-align:center;}

.myMemberInfoWrap {}
	#myMemberInfoBox {float:left;width:100%;}
		.inputPwBox {float:left;}
			.inputPwBox > li {margin-top:10px;width:100%;}
			.inputPwBox > li:first-child {margin-top:0;}
				.inputPwBox > li > label {width:90px;}
				.inputPwBox > li > input {width:350px;color:#999;}
		.inputMailBox {float:left;}
			.inputMailBox > input {float:left;width:140px;}
			.inputMailBox .mDomainSlt {float:left;margin-left:10px;width:200px;}
			.inputMailBox .divi {float:left;margin:0 5px;line-height:30px;}
		.inputTelBox {}
			.inputTelBox .mPhonSlt,
			.inputTelBox .mTelSlt {float:left;width:60px;}
			.inputTelBox > input {float:left;width:60px;}
			.inputTelBox .divi {float:left;margin:0 5px;line-height:30px;}
		.inputDeliBox {float:left;}
			.inputDeliBox > li {float:left;margin-top:10px;width:100%;}
				.inputDeliBox > li > label {float:left;width:60px;line-height:30px;}
				.postCodeInput {width:80px;text-align:center;}
			.inputDeliBox > li:first-child {margin-top:0;}
			.inputDeliBox > li:last-child {padding-left:60px;}
				.inputDeliBox > li:last-child input {width:260px;}
		.delTrBtn {position:absolute;top:0;right:0;width:10px;}
		.mMarketingSlt {float:left;width:200px;}
		.sltDesc {float:left;margin-right:10px;margin-left:50px;line-height:30px;}