/*
===============================================================================================
1.	버    전 : sub.css
2.	작 성 자 : Ryu
3.	참    고 : SUB
===============================================================================================
*/

/* common */
#contents h2 {margin-bottom:30px;padding-bottom:20px;font-size:2.4em;color:#222;font-weight:700;background:url(../images/common/blt_brown_line_bg.gif) no-repeat 0 100%;}
#contents section:last-child {margin-bottom:100px;}

section h4 {float:left;margin-bottom:20px;font-size:2em;color:#333;font-weight:700;}
section h5 {float:left;margin-bottom:20px;font-size:1.8em;color:#666;font-weight:700;}
section h6 {float:left;margin:0 0 30px 0;padding:0 0 15px 0;font-size:1.8em;color:#333;font-weight:700;letter-spacing:-0.025em;background:url(../images/common/blt_black_line_bg.gif) no-repeat 0 100%;}
	section h6 span {color:#c6a370;}
.brownDotLi li {margin-top:12px;padding-left:10px;line-height:20px;font-family:'dotum';font-size:1.2em;color:#666;background:url(../images/common/blt_brown_dot.gif) no-repeat 0 7px;}
.brownDotLi li:first-child {margin-top:0;}
.liBrownDot {padding-left:10px;background:url(../images/common/blt_brown_dot.gif) no-repeat 0}
.orangeDotLi li {margin-top:12px;padding-left:10px;line-height:20px;font-family:'dotum';font-size:1.2em;color:#333;background:url(../images/common/blt_orange_dot.gif) no-repeat 0;}
.orangeDotLi li:first-child {margin-top:0;}
.liOrangeDot {padding-left:10px;background:url(../images/common/blt_orange_dot.gif) no-repeat 0}

.dotLineTop {background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}

/* sub */
#locationBox {float:left;margin-top:20px;margin-bottom:40px;width:100%;}
	#locationBox div > ul > li {float:left;padding-left:30px;line-height:30px;font-family:"dotum";font-size:1.2em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/location_bg.gif) no-repeat 12px 50%;}
	#locationBox li a {color:#666;}
	#locationBox li:first-child {padding-left:0;background:none;}
	.gdsLocationSlt {float:left;width:250px;}

.subPage_title {float:left;margin-bottom:40px;width:100%;}
	.subPage_title h2 {float:left;padding-right:20px;font-size:4.4em;letter-spacing:-0.05em;font-weight:500;color:#222;}
	.subPage_title .subPage_title_desc {float:left;margin-top:15px;padding-left:20px;line-height:18px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}

/* calendar */
.calendarBox {display:inline-block;}
	.writeTable input[type="text"].dateInput {float:left;width:80%;font-size:1em;text-align:center;background:transparent;border:0;}
	.blt_calendar {display:inline-block;width:30px;line-height:30px;text-align:center;cursor:pointer;}
		.blt_calendar img {width:18px;}

/* attach */
.attachBox {width:100%}
	.fileInputType {float:left;width:60%;padding:5px;border:1px solid #ccc;}
	.uploadFile {position:relative;float:left;margin-left:10px;width:100px;height:35px;line-height:35px;font-family:'malgun gothic';font-size:13px;color:#fff;text-align:center;white-space:nowrap;overflow:hidden;background:#5990e3;border-radius:3px;}
		.uploadFile input[type="file"] {position:absolute;top:0px;left:0px;width:100%;height:100%;opacity:0;cursor:pointer;}
	.attachGuide {float:left;margin-top:10px;margin-left:10px;font-family:'dotum';font-size:12px;color:#999;}

/* tab */
.pageTab {float:left;margin-top:100px;margin-bottom:50px;width:100%;}
	.pageTab li {float:left;width:25%;}
	.pageTab li a {display:block;height:55px;line-height:55px;text-align:center;font-size:1.6em;color:#333;background:#fff;border:1px solid #ddd;border-bottom:1px solid #333;border-left:0px;}
	.pageTab li:first-child a {border-left:1px solid #ddd;}
	.pageTab li.actOn a,
	.pageTab li a:hover {color:#333;background:#fff;border:1px solid #333;border-bottom:0;}

/* table */
.listTable {float:left;width:100%;border-top:1px solid #333;}
	.listTable th,
	.listTable td {padding:15px 20px;font-family:"dotum";text-align:center;vertical-align:middle;}
	.listTable th {font-weight:400;font-size:1.2em;color:#222;background:#f7f7f7;border-bottom:1px solid #ddd;}
	.listTable td {font-size:1.3em;color:#333;border-bottom:1px solid #ddd;}
	.listTable td.listSubject {text-align:left;}
	.listTable td.listSubject a {color:#333;}
	.listTable tr.actOn th .listSubject,
	.listTable tr.actOn td .listSubject,
	.listTable td a:hover {}
.listTable2 {float:left;width:100%;border-top:1px solid #333;}
	.listTable2 th,
	.listTable2 td {padding:10px 0;font-family:"dotum";text-align:center;vertical-align:middle;}
	.listTable2 th {font-weight:400;font-size:1.2em;color:#222;background:#f7f7f7;border-bottom:1px solid #ddd;}
	.listTable2 td {font-size:1.2em;color:#666;border-bottom:1px solid #ddd;}
	.listTable2 td.listSubject {text-align:left;}
	.listTable2 td.listSubject a,
	.listTable2 td .listSubject {color:#333;}
	.listTable2 td.listSubject a:hover,
	.listTable2 td .listSubject:hover {font-weight:bold;}
.writeTable {float:left;width:100%;}
	.writeTable th,
	.writeTable td {padding:8px 25px;font-size:1.3em;letter-spacing:-0.025em;border-right:1px solid #ddd;}
	.writeTable th:last-child,
	.writeTable td:last-child {border-right:0;}
	.writeTable th {font-weight:bold;text-align:center;vertical-align:middle;color:#222;background:#fafafa;border-bottom:1px solid #ddd;}
	.writeTable td {text-align:left;background:#fff;border-bottom:1px solid #ddd;}
	.writeTable td input[type="text"],
	.writeTable td textarea {background:#fafafa;}
.viewTable {float:left;width:100%;border-top:1px solid #333;}
	.viewTable th,
	.viewTable td {padding:15px 20px;font-family:"dotum";}
	.viewTable th {font-weight:400;font-size:1.2em;color:#222;text-align:left;vertical-align:middle;background:#f7f7f7;border-bottom:1px solid #ddd;}
	.viewTable td {font-size:1.2em;color:#666;text-align:left;background:#fff;border-bottom:1px solid #ddd;}
	.viewTable td.ttaL {text-align:left !important;}

/* slideListBox */
.slideListBox {float:left;width:100%;font-family:'dotum';}
	.slideListHead li {float:left;line-height:45px;text-align:center;font-size:1.2em;background:#f7f7f7;border-top:1px solid #333;border-bottom:1px solid #ddd;}
	.slideListBody > li {float:left;width:100%;font-size:1.3em;letter-spacing:-0.025em;border-bottom:1px solid #ddd;}
	.slideListBody > li.openLine {}
	.slideListBody > li a {color:#333;}
	.slideListBody > li.actOn a {text-decoration:underline;}
		.titleLine li {float:left;line-height:45px;text-align:center;}
		.conLine {display:none;float:left;padding:0;width:100%;border-top:1px solid #ddd;background:#f7f7f7;}

/* btns */
.pageBtnBox {float:left;margin-top:20px;width:100%;}
	.pageBtnBox.taL .btnS1:first-child {margin-left:0;}

.btnS1 {display:inline-block;margin-left:15px;padding-left:35px;padding-right:35px;height:40px;line-height:40px;border-radius:0px;font-weight:400;text-align:center;}
.btnS2 {display:inline-block;margin-left:10px;padding-left:15px;padding-right:15px;height:30px;line-height:30px;border-radius:0px;font-weight:400;text-align:center;}

.blckBtn {font-size:16px;font-weight:400;color:#fff;background:#333;}
a.blckBtn:hover {color:#fff;background:#666;}
.gryBtn {font-size:16px;font-weight:400;color:#fff;background:#666;}
a.gryBtn:hover {color:#fff;background:#999;}
.gryBtn2 {font-size:12px;font-weight:400;color:#666;background:#f5f5f5;border:1px solid #999;}
a.gryBtn2:hover {color:#fff;background:#999;}

.smBtn {display:inline-block;padding:1px 10px 0 10px;font-family:"dotum";font-size:11px;letter-spacing:-0.075em;color:#888;font-weight:normal;background:#fff;border:1px solid #ddd;}
.smBtn:hover {background:#f5f5f5;}

/* pagingBoxWrap */
.pagingBoxWrap {float:left;width:100%;margin-top:30px;text-align:center;}
	.pagingBox {display:inline-block;}
		.pagingBox li {float:left;width:30px;height:30px;line-height:30px;text-align:center;cursor:pointer;}
			.pagingBox .numBtn {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .numBtn a {display:block;width:100%;height:100%;font-family:'dotum';font-size:1.2em;font-weight:bold;color:#666;}
			.pagingBox .abL, .pagingBox .abLL,
			.pagingBox .abR, .pagingBox .abRR {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .abL img, .pagingBox .abR img {margin-top:-2px;width:7px;}
			.pagingBox .abLL img,.pagingBox .abRR img {margin-top:-2px;width:12px;}
			.pagingBox .angleBtn a {display:block;width:100%;height:100%;font-size:1.6em;color:#666;font-weight:bold;}
			.pagingBox .angleBtn:hover {border:1px solid #333;}
			.pagingBox .numBtn:hover, .pagingBox .actOn {background:#666;border:1px solid #333;}
			.pagingBox .angleBtn:hover a, .pagingBox .numBtn:hover a, .pagingBox .actOn a {color:#fff;}
.pagingBoxWrap2 {float:left;width:100%;margin-top:10px;text-align:center;}
	.pagingBox2 {display:inline-block;}
		.pagingBox2 li {float:left;width:20px;height:20px;line-height:20px;text-align:center;cursor:pointer;}
			.pagingBox2 .numBtn {margin:0 2px;border:0;}
			.pagingBox2 .numBtn a {display:block;width:100%;height:100%;font-size:1.3em;font-weight:bold;color:#707070;}
			.pagingBox2 .abL, .pagingBox2 .abLL,
			.pagingBox2 .abR, .pagingBox2 .abRR {margin:0 2px;background:#fff;border:1px solid #c2c2c2;}
			.pagingBox2 .abL img, .pagingBox2 .abR img {margin-top:-2px;width:4px;}
			.pagingBox2 .abLL img,.pagingBox2 .abRR img {margin-top:-2px;width:10px;}
			.pagingBox2 .angleBtn a {display:block;width:100%;height:100%;font-size:1.6em;color:#666;font-weight:bold;}
			.pagingBox2 .angleBtn:hover {border:1px solid #666;}
			.pagingBox2 .numBtn:hover, .pagingBox2 .actOn {background:transparent;border:0;}
			.pagingBox2 .angleBtn:hover a, .pagingBox2 .numBtn:hover a, .pagingBox2 .actOn a {color:#c6a370;}

/* mypage */
.mypageHomeWrap {}
	.mypageHomeWrap #myOrderListBox {float:left;width:100%;}
		.mypageHomeWrap #myOrderListBox .gridL {float:left;width:380px;}
		.mypageHomeWrap #myOrderListBox .gridR {float:right;width:380px;}
		.mypageHomeWrap #myOrderListBox .viewTable th {text-align:center;}
		.mypageHomeWrap #myOrderListBox .viewTable td {padding:30px 20px;font:bold 3em "Arial";color:#333;text-align:center;}
	.mypageHomeWrap #myCounselListBox {float:left;width:100%;}
		.mypageHomeWrap #myCounselListBox .smBtn {float:right;margin-top:10px;}
	.mypageHomeWrap #myPointMoneyBox {float:left;width:100%;}
		.mypageHomeWrap #myPointMoneyBox .gridL {float:left;width:380px;}
		.mypageHomeWrap #myPointMoneyBox .gridR {float:right;width:380px;}
			.mypageHomeWrap #myPointMoneyBox .viewTable th {padding:10px 20px;line-height:30px;font-weight:bold;font-size:1.4em;text-align:center;}
			.mypageHomeWrap #myPointMoneyBox .gridL .viewTable th span {display:block;width:100%;background:url(../images/common/icon_exclamation1.png) no-repeat 0 50%;}
			.mypageHomeWrap #myPointMoneyBox .gridL .viewTable td {font:bold 3em "Arial";color:#333;text-align:center;}
			.mypageHomeWrap #myPointMoneyBox .gridR .viewTable th span {display:block;width:100%;background:url(../images/common/icon_exclamation2.png) no-repeat 0 50%;}
			.mypageHomeWrap #myPointMoneyBox .gridR .viewTable td {border-right:1px solid #ddd;border-left:1px solid #ddd;}

.myOrderListWrap {}
	.myOrderListWrap #myOrderListBox {float:left;width:100%;}
		.myOrderListWrap #myOrderListBox .viewTable th {text-align:center;}
		.myOrderListWrap #myOrderListBox .viewTable td {padding:30px 20px;font:bold 3em "Arial";color:#333;text-align:center;}
		.termListSearchBox {float:left;padding:10px 20px;width:100%;font:normal 12px 'dotum';border:3px solid #ddd;}
			.termListSearchBox > li {float:left;padding:15px 0;width:100%;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
			.termListSearchBox > li:first-child {background:none;}
				.lsTitle {float:left;padding-left:20px;width:100px;font-weight:bold;}
				.lsTitle label {font-weight:bold;}
				.termCon {float:left;}
					.miniBtn {float:left;margin-left:5px;width:50px;height:25px;line-height:25px;color:#fff;text-align:center;background:#999;border-radius:5px;}
					.miniBtn.actOn,
					.miniBtn:hover {color:#fff;background:#c6a370;}
					.termListSearchBox .calendarBox {float:left;margin-top:-3px;}
					.termListSearchBox .mr5 {float:left;line-height:30px;}
				.lsGoodsName {float:left;}
				.termListSearchBox .radioBoxWrap {float:left;width:540px;}
					.termListSearchBox .radioBoxWrap li {float:left;margin-bottom:5px;}
						.termListSearchBox .radioBoxWrap input[type="radio"] {margin-left:20px;}
						.termListSearchBox .radioBoxWrap li:first-child input[type="radio"] {margin-left:0;}
				.termListSearchBox .blckBtn {float:right;margin-top:10px;margin-left:0;padding-left:25px;padding-right:25px;height:30px;line-height:30px;font-size:12px;}
		.myOrderListWrap #myOrderListBox .listTable2 {}
			.ogdOrderNum {color:#c6a370;text-decoration:underline;}
			.ogdItemUl {margin-top:10px;padding-top:10px;width:100%;border-top:1px solid #ddd;;}
			.ogdItemUl:first-child {margin-top:0;padding-top:0;border-top:0;}
				.ogdItemUl li {height:70px;display:table-cell;vertical-align:middle;}
				.ogdItem1 {width:380px;}
				.ogdItem2 {width:90px;color:#333;}
				.ogdItem3 {width:90px;color:#333;}
				.ogdItem4 {width:70px;}
					.ogdItem4 .smBtn {margin-top:5px;}
				.ogdItem5 {width:70px;}
					.ogoodsImg {float:left;width:70px;height:70px;line-height:70px;background:#ddd;}
					.ogoodsName {float:left;padding-left:15px;width:310px;color:#666;text-align:left;}
					.ogoodsOption {float:left;padding-left:15px;color:#999;}

.myOrderViewWrap {}
	.myOrderViewWrap .borderBox_ddd3px {padding:15px 20px;font:normal 12px 'dotum';}
	.goodsInfoBox.viewTable th,
	.goodsInfoBox.viewTable td {padding:15px 5px;text-align:center;vertical-align:middle;}
		.goodsInfoBox .ogoodsName,
		.goodsInfoBox .ogoodsOption {width:220px;}
		.myOrderViewWrap .balloonTip {float:right;margin-top:-2px;margin-right:5px;width:20px;}

.myCsCounselListWrap {}
	.listSearchBox {float:left;padding:20px 20px;width:100%;}
		.listSearchSlt {float:left;margin-right:10px;width:80px;}
		.listSearchBox .blckBtn {width:70px;font-family:'dotum';font-size:12px;text-align:center;}
	#myCsCounselListBox .listTable th {color:#222;}
	#myCsCounselListBox .listTable td {padding:13px 5px;color:#666;}

.myMemberInfoPwWrap {}
	#myMemberInfoPwBox {float:left;width:100%;}
		#myMemberInfoPwBox .borderBox_ddd3px {padding:50px 50px 60px 210px;background:url(../images/sub_mypage/icon_key.png) no-repeat 60px 50px;}
			#myMemberInfoPwBox h5 {padding-bottom:20px;width:100%;background:url(../images/sub_mypage/blt_red_line_bg.gif) no-repeat 0 100%;}
			#myMemberInfoPwBox .txtBox {font:normal 14px 'dotum';}
			#pwConfilm {float:left;}
			#myMemberInfoPwBox .blckBtn {width:70px;font-family:'dotum';font-size:12px;text-align:center;}

.myMemberInfoWrap {}
	#myMemberInfoBox {float:left;width:100%;}
		.inputPwBox {float:left;}
			.inputPwBox > li {margin-top:10px;width:100%;}
			.inputPwBox > li:first-child {margin-top:0;}
				.inputPwBox > li > label {width:90px;}
				.inputPwBox > li > input {width:350px;color:#999;}
		.inputMailBox {float:left;}
			.inputMailBox > input {float:left;width:140px;}
			.inputMailBox .mDomainSlt {float:left;margin-left:10px;width:200px;}
			.inputMailBox .divi {float:left;margin:0 5px;line-height:30px;}
		.inputTelBox {}
			.inputTelBox .mPhonSlt,
			.inputTelBox .mTelSlt {float:left;width:60px;}
			.inputTelBox > input {float:left;width:60px;}
			.inputTelBox .divi {float:left;margin:0 5px;line-height:30px;}
		.inputDeliBox {float:left;}
			.inputDeliBox > li {float:left;margin-top:10px;width:100%;}
				.inputDeliBox > li > label {float:left;width:60px;line-height:30px;}
				.postCodeInput {width:80px;text-align:center;}
			.inputDeliBox > li:first-child {margin-top:0;}
			.inputDeliBox > li:last-child {padding-left:60px;}
				.inputDeliBox > li:last-child input {width:260px;}
		.delTrBtn {position:absolute;top:0;right:0;width:10px;}
		.mMarketingSlt {float:left;width:200px;}
		.sltDesc {float:left;margin-right:10px;margin-left:50px;line-height:30px;}