@charset "utf-8";

/*
===============================================================================================
1.	버    전 : tutorial.css
2.	작 성 자 : Ryu
3.	참    고 : Tutorial
===============================================================================================
*/

html, body {width:1020px;height:800px;overflow:hidden;}
#contents section:last-child {margin-bottom:0;}

/* tutorial */
.tutorialWrap {width:100%;height:100%;}
	#tutorialBox {float:left;width:100%;}
		.ttrHeadBox,
		.ttrDescBox {padding-right:30px;padding-left:30px;}
		.ttrHeadBox {float:left;width:100%;height:60px;line-height:60px;text-align:center;background:#000;}
			.ttrPrevBtn,
			.ttrNextBtn {width:210px;height:100%;}
			.ttrPrevBtn a,
			.ttrNextBtn a {display:block;width:100%;font-size:2em;color:#a3aeb7;}
			.ttrPrevBtn:hover a,
			.ttrNextBtn:hover a {color:#a3aeb7;}
			.ttrPrevBtn {float:left;}
			.ttrNextBtn {float:right;}
			.ttrPrevBtn a {padding-left:40px;text-align:left;background:url(../images/sub_tagintag/blt_arrow_l.png) no-repeat 0 50%;}
			.ttrNextBtn a {padding-right:40px;text-align:right;background:url(../images/sub_tagintag/blt_arrow_r.png) no-repeat 100% 50%;}
			#contents .ttrHeadBox h2 {display:inline;margin:0;padding:0;line-height:60px;font-weight:500;font-size:3em;color:#c6a370;background:none;}
		.ttrDescBox {float:left;padding-top:10px;padding-bottom:10px;width:100%;height:70px;background:#ebebeb;}
			.ttrDescBox .brownDotLi {float:left;margin-top:13px;width:90%;}
				.ttrDescBox .brownDotLi li {font-size:1.4em;font-family:"Noto Sans KR";color:#333;}
			.ttrHomeBtn {float:right;width:42px;vertical-align:middle;}
		
		.ttrContents {position:relative;float:left;width:100%;height:670px;overflow:hidden;}
			.ttrContentsBorder {position:absolute;top:0;left:0;width:100%;height:670px;border:10px solid #000;/*z-index:999;*/}
			.ttrContents img {width:100%;}
				.ttrHelpWrap {position:absolute;top:0;left:0;width:100%;height:100%;}
					.ttrHelpClick {position:absolute;z-index:999;}
					.ttrHelpBox {position:absolute;padding:15px 20px;font-size:14px;color:#6a5947;text-align:left;background:#faf5eb;border:3px solid #45403a;border-radius:15px;z-index:999;}
						.ttrHelpSpire {position:absolute;width:30px;height:30px;}
							.ttrhsDR {bottom:-30px;right:30px;background:url(../images/sub_tagintag/blt_help_spire_dr.png) no-repeat 100% 50%;}
							.ttrhsDL {bottom:-30px;left:30px;background:url(../images/sub_tagintag/blt_help_spire_dl.png) no-repeat 100% 50%;}
							.ttrhsLD {bottom:10px;left:-30px;background:url(../images/sub_tagintag/blt_help_spire_ld.png) no-repeat 100% 50%;}
							.ttrhsUL {bottom:10px;right:-30px;background:url(../images/sub_tagintag/blt_help_spire_ul.png) no-repeat 100% 50%;}
							.ttrhsRR {bottom:10px;right:-30px;background:url(../images/sub_tagintag/blt_help_spire_rr.png) no-repeat 100% 50%;}
						.ttHelpSub {font-size:12px;color:#5a5947;}
			.divPopupBox {position:absolute;top:0;left:0;}

		.ttrStep0 .ttrContents img {border:0px solid #000;}
			.ttrStep0 .ttrHC1 {top:450px;left:820px;}
			.ttrStep0 .ttrHB1 {top:460px;left:670px;padding:20px 0;width:140px;font-size:24px;text-align:center;}

		.ttrStep1 .ttContents {}
			.ttrStep1 .ttrHB1 {top:160px;left:50px;}
			.ttrStep1 .ttrHB2 {top:190px;left:790px;}
			.ttrStep1 .ttrHB3 {top:460px;left:605px;}
			#inputNumBox {margin-top:0;margin-left:0;}
		
		.ttrStep2 .ttContents {}
			.ttrStep2 .ttrHB1 {top:180px;left:170px;}
			.ttrStep2 .ttrHB2 {top:100px;left:480px;}
			.ttrStep2 .ttrHB3 {top:380px;left:560px;}
			#slotMachineBox,
			#slotMachineBox.divPopupBox {margin-top:0;margin-left:0;}
				.ttrStep2 .ttrContents img {width:auto;}
				.ttrStep2 .sltmGuide {font-size:1.8em;color:#ff7f00;background:url(../images/divpop/slotmachin_guide_txt_2.png) no-repeat 40% 0;}
					.ttrStep2 .sltmGuide ul {margin-left:380px;}
						.ttrStep2 .sltmGuide ul li {text-align:left;}
		
		.ttrStep3 .ttContents {}
			.ttrStep3 .ttrHB1 {top:620px;left:380px;}
			#bigTagOpenBox {margin-top:-60px;margin-left:0;}
		
		.ttrStep4 .ttContents {}
			.ttrStep4 .ttrHB1 {top:265px;left:290px;}
			.ttrStep4 .ttrHB2 {top:355px;left:290px;}
			.ttrStep4 .ttrHB3 {top:470px;left:290px;}
			#tagResultBox {margin-top:0;margin-left:0;}