@charset "utf-8";

/*
===============================================================================================
1.	버    전 : vip.css
2.	작 성 자 : Ryu
3.	참    고 : VIP
===============================================================================================
*/

/* vipEvent */
.vipEventWrap {}
	#vipEventBox {float:left;width:100%;}
		.vipEventMonthBox {float:left;width:100%;background:url(../images/sub_vip/vip_main_event_bg.jpg) no-repeat;}
			.vipEventDesc {float:left;padding-top:160px;width:100%;text-align:center;font-family:'Nanum Myeongjo';font-weight:600;font-size:2.2em;color:#754c24;}
				.vipEventDesc span {color:#f8991d;}
			.vipEMonWrap {float:left;padding-top:20px;padding-bottom:30px;width:100%;}
				.vipEMonWrap > li {float:left;margin-left:30px;width:300px;}
				.vipEMon1 {background:url(../images/sub_vip/month_bg_1.png) no-repeat;}
				.vipEMon2 {background:url(../images/sub_vip/month_bg_2.png) no-repeat;}
				.vipEMon3 {background:url(../images/sub_vip/month_bg_3.png) no-repeat;}
					.vemItem {float:left;padding:0 20px;width:100%;height:505px;}
						.vemTitle {float:left;margin:25px 0;padding:0 50px 0 70px;width:100%;height:50px;line-height:50px;font-weight:bold;font-size:2.4em;text-align:center;}
						.vipEMon1 .vemTitle {color:#6ab5d3;}
						.vipEMon2 .vemTitle {color:#ff7f00;}
						.vipEMon3 .vemTitle {color:#a3aeb7;}
						.vemImg {float:left;margin:0 20px;width:110px;}
						.vemMon {float:left;width:110px;line-height:110px;font-size:1.8em;color:#555;}
							.vemMon span {font-size:24px;}
						.vemDesc {float:left;margin-top:50px;width:100%;height:170px;line-height:28px;font-size:1.4em;letter-spacing:-0.05em;color:#555;}
						.vemDescIng {float:left;margin-top:50px;padding-top:40px;width:100%;height:170px;}
							.vemDescIng li {float:left;width:100%;font-size:20px;text-align:center;}
							.vemDescIng li.ingAct {font-size:36px;}
						.vemBtn {float:left;margin-top:25px;padding-right:20px;width:50%;height:50px;}
							.vemBtn a {display:inline-block;width:100%;font-size:1.8em;font-weight:bold;color:#333;text-align:center;}
		.vipEventPastMonthBox {float:left;margin-top:30px;width:100%;}
			.vipEventPastMonthBox > li {float:left;margin-bottom:30px;margin-left:30px;width:300px;}
				.vemPastItem {float:left;width:100%;border:1px solid #ebebeb;}
					.vempMon {float:left;width:100%;line-height:70px;font-size:1.8em;color:#555;text-align:center;background:#f5f5f5;}
						.vempMon span {font-size:24px;color:#333;}
					.vempDesc {float:left;padding:20px 20px 0;width:100%;height:190px;line-height:28px;font-size:1.4em;letter-spacing:-0.05em;color:#555;}
					.vempBtn {float:left;width:260px;margin:20px;padding-top:20px;text-align:center;}
						.vempBtn a {margin-left:0;width:110px;}

.vipEventDetailWrap {}
	#vipEventDetailBox {float:left;width:100%;}
		.vedTitle {float:left;width:100%;font-weight:bold;font-size:3em;color:#222;text-align:center;background:url(../images/sub_vip/title_line_bg.png) no-repeat 0 50%;}
		#vipEventDetailBox .viewTable {margin-top:20px;border:1px solid #cfc6b5;}
			#vipEventDetailBox .viewTable th,
			#vipEventDetailBox .viewTable td {text-align:center;vertical-align:middle;border-bottom:1px solid #cfc6b5;border-right:1px solid #cfc6b5;}
			#vipEventDetailBox .viewTable th {padding:10px 20px;font:500 18px "Noto Sans KR";color:#997659;background:#faf5eb;}
			#vipEventDetailBox .viewTable td {padding:15px 20px;font:400 16px "Noto Sans KR";color:#45403a;}
			.funcBox {display:inline-block;}
				.funcC {}
				.funcP {border-top:1px solid #333;}
		#vipEventDetailBox .pageBtnBox {background:url(../images/common/line_w_dot4.png) repeat-x 0 50%;}
			.vedJoinApplyTitle {float:left;width:85%;height:40px;}
				.vedJoinApplyTitleT {display:inline-block;padding:0 20px;background:#fff;}
			#vipEventDetailBox .pageBtnBox .btnS1 {margin-left:0;width:15%;}
		.vipEventDetailMonthBox {}
		.vipEDMon1 {}
			.vemdItem {}
				.vemdTitle {}
					.vemdMon {}
				.vemdDay {}
				.vemdCon {}
					.vipEventDetailMonthBox .grid30 {}
						.vemdMStatus {}
							.vemdEpisod {}
					.vipEventDetailMonthBox .grid70 {}
						.vemdConTxt {}
							.vemdBlackBox {}
					.vipEventDetailMonthBox .pageBtnBox {}
					.vemdOpenGuide {}
						

.vipJoinApplyWrap {}
	#vipJoinApplyBox {float:left;width:100%;}
		.vjaTitle {float:left;width:100%;height:133px;background:url(../images/sub_vip/vip_join_apply_title.jpg) no-repeat 0 50%;}
			.vjaTitle .vipEventDesc {padding-top:80px;padding-left:40px;}
		.balanceBox {float:left;padding:25px;width:100%;font-family:"dotum";font-size:1.2em;color:#666;border:5px solid #dedede;}
			.totalBalanceBox {float:left;width:100%;}
				.balanceTit {float:left;width:66%;font:bold 18px/20px "dotum";color:#333;text-align:center;}
				.balanceNum {float:left;width:34%;font:bold 14px/20px "dotum";color:#ff4100;}
					.balanceNum span {font-size:24px;font-family:"Arial";}
	#vipJoinApplyBox .listTable th,
	#vipJoinApplyBox .listTable td {padding:15px 10px;border-left:1px solid #ddd;}
	#vipJoinApplyBox .listTable th:first-child,
	#vipJoinApplyBox .listTable td:first-child {border-left:0;}
